{% extends "index.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <h1 class="my-2">Valtické přihlášky</h1>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-primary" name="vsichni" value="whatever" type="submit">Seznam všech účastníků</button>
    </div>
    <div class="row">
        <div class="col-12 col-sm-2 my-1">
            Výpis třídy
        </div>
        <div class="col-12 col-sm my-1">
            <select class="form-select" id="select_tridy" name="id_tridy"></select>
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="btn btn-primary" name="trida_button" value="whatever" type="submit">Hledat</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-2 my-1">
            Nahrát tabulku s novými účastníky (.csv)
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="file" id="file" name="file" accept=".csv">
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="btn btn-primary" name="soubor" value="whatever" type="submit">Nahrát</button>
        </div>
    </div>
</form>

<script type="module" src="{{url_for('static', filename='js/valtice/dashboard.js')}}"></script>

{% endblock %}