{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seznam_uzivatelu_table.css')}}">
<h2>Generování seznamů</h2>
<p>
    Seznamy se generují v několika krocích:
    <ol>
        <li>Výběr množiny účastníků</li>
        <li>Zvolení atribut k vypsání</li>
        <li>Vytvoření výpisu</li>
        <li>Možnosti exportu jako .xlsx nebo .pdf soubory.</li>
    </ol>
</p>
<!-- TODO udělat schovávání těch parametrů při vytvoření seznamu -->
<h3> 
    Výběr účastníků
</h3>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Třída</h4>
            <div id="checkboxy_trid">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="jakakoli_trida" checked>
                    <label class="form-check-label" for="jakakoli_trida">Jakákoli</label>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h4>Ubytování</h4>
            <div id="checkboxy_ubytovani">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="jakekoli_ubytko" checked>
                    <label class="form-check-label" for="jakekoli_ubytko">Jakékoli</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="telocvicna">
                    <label class="form-check-label" for="telocvicna">Tělocvična</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="internat">
                    <label class="form-check-label" for="internat">Internát VŠ</label>
                </div>
            </div>
            <h4>Strava</h4>
            <div id="checkboxy_strava">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="jakakoli_strava" checked>
                    <label class="form-check-label" for="jakakoli_strava">Jakákoli</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="snidane_zs">
                    <label class="form-check-label" for="snidane_zs">Snídaně na ZŠ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="snidane_vs">
                    <label class="form-check-label" for="snidane_vs">Snídaně na VŠ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="obed_zs">
                    <label class="form-check-label" for="obed_zs">Oběd na ZŠ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="obed_vs">
                    <label class="form-check-label" for="obed_vs">Oběd na VŠ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="vecere_zs">
                    <label class="form-check-label" for="vecere_zs">Večeře na ZŠ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="vecere_vs">
                    <label class="form-check-label" for="vecere_vs">Večeře na VŠ</label>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>
    Atributy k vypsání
</h3>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="checkboxy_udaju">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="jmeno">
                    <label class="form-check-label" for="jmeno">Jméno</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="prijmeni">
                    <label class="form-check-label" for="prijmeni">Příjmení</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cas">
                    <label class="form-check-label" for="cas">Čas</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="vek">
                    <label class="form-check-label" for="vek">Věk</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="email">
                    <label class="form-check-label" for="email">Email</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="telefon">
                    <label class="form-check-label" for="telefon">Telefon</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_dne">
                    <label class="form-check-label" for="finance_dne">Finance - Datum</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_dar">
                    <label class="form-check-label" for="finance_dar">Finance - Dar</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_mena">
                    <label class="form-check-label" for="finance_mena">Finance - Měna</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_kategorie">
                    <label class="form-check-label" for="finance_kategorie">Finance - Kategorie</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_korekce_kurzovne">
                    <label class="form-check-label" for="finance_korekce_kurzovne">Finance - Korekce kurzovné</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_korekce_kurzovne_duvod">
                    <label class="form-check-label" for="finance_korekce_kurzovne_duvod">Finance - Důvod korekce kurzovné</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_korekce_strava">
                    <label class="form-check-label" for="finance_korekce_strava">Finance - Korekce strava</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_korekce_strava_duvod">
                    <label class="form-check-label" for="finance_korekce_strava_duvod">Finance - Důvod korekce strava</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_korekce_ubytko">
                    <label class="form-check-label" for="finance_korekce_ubytko">Finance - Korekce ubytování</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="finance_korekce_ubytko_duvod">
                    <label class="form-check-label" for="finance_korekce_ubytko_duvod">Finance - Důvod korekce ubytování</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ssh_clen">
                    <label class="form-check-label" for="ssh_clen">SSH Člen</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ucast">
                    <label class="form-check-label" for="ucast">Účast</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="hlavni_trida_1_id">
                    <label class="form-check-label" for="hlavni_trida_1_id">Hlavní třída 1</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="hlavni_trida_2_id">
                    <label class="form-check-label" for="hlavni_trida_2_id">Hlavní třída 2</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="vedlejsi_trida_placena_id">
                    <label class="form-check-label" for="vedlejsi_trida_placena_id">Vedlejší třída placená</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="vedlejsi_trida_zdarma_id">
                    <label class="form-check-label" for="vedlejsi_trida_zdarma_id">Vedlejší třída zdarma</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ubytovani">
                    <label class="form-check-label" for="ubytovani">Ubytování</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ubytovani_pocet">
                    <label class="form-check-label" for="ubytovani_pocet">Počet ubytování</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="vzdelani">
                    <label class="form-check-label" for="vzdelani">Vzdělání</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="nastroj">
                    <label class="form-check-label" for="nastroj">Nástroj</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="repertoir">
                    <label class="form-check-label" for="repertoir">Repertoár</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="student_zus_valtice_mikulov">
                    <label class="form-check-label" for="student_zus_valtice_mikulov">Student ZUŠ Valtice/Mikulov</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="strava">
                    <label class="form-check-label" for="strava">Strava</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="uzivatelska_poznamka">
                    <label class="form-check-label" for="uzivatelska_poznamka">Uživatelská poznámka</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="admin_poznamka">
                    <label class="form-check-label" for="admin_poznamka">Admin poznámka</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cas_registrace">
                    <label class="form-check-label" for="cas_registrace">Čas registrace</label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<button type="button" class="btn btn-primary" id="excel_button">Stáhnout .xlsx</button>
<button type="button" class="btn btn-primary" id="pdf_button">Zobrazit pro export do .pdf</button>
<form method="post" id="form">
    <input hidden type="text" name="result" id="result">
</form>



<script type="module" src="{{url_for('static', filename='js/valtice/seznamy.js')}}"></script>

{% endblock %}