{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seznam_uzivatelu_table.css')}}">
<input hidden id="id_getter" value="{{id}}"/>
<h2>Detail Třídy <span id="short_name"></span></h2>
<form method="post">
    <button type="submit" class="btn btn-primary" name="upravit" value="whatever">Upravit</button>
</form>
<p id="full_name"></p>
<p><span id="celkem"></span></p>
<hr>
<h3>Hlavní třída - 1. volba</h3>
<p><span id="prvni_trida_count"></span></p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Účast</th>
            </tr>
        </thead>
        <tbody id="hlavni_ucastnici_1">
            
        </tbody>
    </table>
</div>
<h3>Vedlejší třída - placená</h3>
<p><span id="vedlejsi_placena_count"></span></p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Účast</th>
            </tr>
        </thead>
        <tbody id="vedlejsi_ucastnici_placeni">
            
        </tbody>
    </table>
</div>
<h3>Vedlejší třída - zdarma</h3>
<p><span id="vedlejsi_zdarma_count"></span></p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Účast</th>
            </tr>
        </thead>
        <tbody id="vedlejsi_ucastnici_zdarma">
            
        </tbody>
    </table>
</div>
<h3>Hlavní třída - 2. volba</h3>
<p><span id="druha_trida_count"></span></p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Účast</th>
            </tr>
        </thead>
        <tbody id="hlavni_ucastnici_2">
            
        </tbody>
    </table>
</div>

<script type="module" src="{{url_for('static', filename='js/valtice/trida.js')}}"></script>

{% endblock %}