{% extends"guest/cz_context.html" %}
{% block content %}
<h1>Úpravy cen</h1> 
<hr>
<form method="post">
    <button type="submit" class="custom_button" name="ulozit" value="whatever">Uložit změny</button>
    <hr>
    <h2>Kurzovné</h2>
    <div id="table_kurzovne"></div>
    <hr>
    <h2>Strava</h2>
    <div id="table_strava"></div>
    <hr>
    <h2>Ubytování</h2>
    <div id="table_ubytovani"></div>
    <h2>Slevy</h2>
    <small>Slevy se tu zadávají kladné, od celkové částky se ovšem odečítají.</small>
    <div id="table_slevy"></div>
</form>

<script type="module" src="{{url_for('static', filename='js/organizator/ceny.js')}}"></script>

{% endblock %}