{% extends "cz_context.html" %}

{% block content %}

<div class="row p-2">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center p-2">
        <a href="{{url_for('org_views.seznam_ucastniku')}}" class="rounded-3 panel-link d-flex align-items-center justify-content-center p-2">
            <div class="text-center">
                Účastníci
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center p-2">
        <a href="{{url_for('org_views.seznam_trid')}}" class="rounded-3 panel-link d-flex align-items-center justify-content-center p-2">
            <div class="text-center">
                Třídy
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center p-2">
        <a href="{{url_for('org_views.seznam_lektoru')}}" class="rounded-3 panel-link d-flex align-items-center justify-content-center p-2">
            <div class="text-center">
                Lektoři
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center p-2">
        <a href="{{url_for('org_views.seznamy')}}" class="rounded-3 panel-link d-flex align-items-center justify-content-center p-2">
            <div class="text-center">
                Generování seznamů
            </div>
        </a>
    </div>
    {% if "editor" in roles %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center p-2">
            <a href="{{url_for('org_views.ceny')}}" class="rounded-3 panel-link d-flex align-items-center justify-content-center p-2">
                <div class="text-center">
                    Ceny
                </div>
            </a>
        </div>
    {% endif %}
    {% if "organiser" in roles%}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center p-2">
            <a href="{{url_for('org_views.settings')}}" class="rounded-3 panel-link d-flex align-items-center justify-content-center p-2">
                <div class="text-center">
                    Nastavení
                </div>
            </a>
        </div>
    {% endif %}
    {% if "admin" in roles %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center p-2">
            <a href="{{url_for('org_views.organizatori')}}" class="rounded-3 panel-link d-flex align-items-center justify-content-center p-2">
                <div class="text-center">
                    Pořadatelé a role
                </div>
            </a>
        </div>
    {% endif %}

</div>
<!-- Pokud role nemám -->
{% if "admin" not in roles %}
    <hr>
{% endif %} 
<div class="row p-2">
    {% if "organiser" not in roles %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center">
            <div class="panel-link-inactive">
                Nastavení
                <span class="s_roli">s rolí</span> 
                <span class="missing_role">Organizátor</span>
            </div>
        </div>
    {% endif %}
    {% if "editor" not in roles %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center">
            <div class="panel-link-inactive">
                Ceny
                <span class="s_roli">s rolí</span> 
                <span class="missing_role">Editor</span>
            </div>
        </div>
    {% endif %}
    {% if "admin" not in roles %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex justify-content-center align-items-center">
            <div class="panel-link-inactive">
                Organizátoři
                <span class="s_roli">s rolí</span> 
                <span class="missing_role">Admin</span>
            </div>
        </div>
    {% endif %}
</div>
<hr>
<p>
    Pokud potřebujete někam, kam nemáte přístup, kontaktujte jednoho z administrátorů: {{admins}}
</p>

{% endblock %}