{% extends"guest/cz_context.html" %}
{% block content %}
<h1>Detail uživatele </h1>
<hr>
<input hidden id="id_getter" value="{{id}}"/>
<div class="row">
    <div class="col-sm-5" id="parent_div"></div>
</div>
<hr>
<h1>Role uživatele</h1>
<button class="custom_button" id="save_roles_button" type="button">Uložit role</button>

<div id="check_div" class="my-2">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="tutor" value="tutor">
        <label class="form-check-label" for="tutor">Lektor</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="organiser" value="organiser">
        <label class="form-check-label" for="organiser">Organizátor</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="editor" value="editor">
        <label class="form-check-label" for="editor">Editor</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="admin" value="admin">
        <label class="form-check-label" for="admin">Admin</label>
    </div>
</div>

<hr>

<button type="button" class="btn btn-danger" name="smazat" value="whatever" id="delete_button">Smazat uživatele</button>

<form method="post" id="form">
    <input hidden id="result" name="nove_role"/>
</form>

<form method="post" id="delete_form">
    <input hidden name="delete" value="whatever"/>
</form>


<script type="module" src="{{url_for('static', filename='js/organizator/detail_uzivatele.js')}}"></script>

{% endblock %}