{% extends"cz_context.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seznam_uzivatelu_table.css')}}">
<input hidden id="id_getter" value="{{id}}"/>
<h1><span id="full_name"></span> - detail účtu</h1>
<hr>
<form method="post">
    <button type="submit" class="custom_button" name="edit_button" value="whatever">Upravit</button>
    <!-- TODO tohle zpristupnit jen nejaky vyssi roli -->
    <button type="submit" class="custom_button" name="log_in_as" value="whatever">Přihlásit se jako tento účet</button>
</form>
<hr>
<h2>Vybrané informace</h2>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td class="pravy_text">Účast</td>
                <td id="ucast_na_ocich" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Strava</td>
                <td id="meals_top_visible" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Ubytování</td>
                <td id="accomodation_message" colspan="2"></td>
        </tbody>
    </table>
</div>
<hr>
<h2>Osobní informace</h2>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td class="pravy_text">Email</td>
                <td id="email" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Telefon</td>
                <td id="phone" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Datum narození</td>
                <td id="date_of_birth" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Student</td>
                <td id="is_student" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Věková kategorie</td>
                <td id="age_category"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<h2>Valtické informace</h2>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td class="pravy_text">Člen SSH</td>
                <td id="is_ssh_member" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Účast</td>
                <td id="is_active_participant" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Student ZUŠ Valtice / Mikulov</td>
                <td id="is_student_of_partner_zus" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Čas výběru třídy</td>
                <td id="datetime_class_pick" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Čas registrace ve Valticích</td>
                <td id="datetime_registered"></td>
                <td>
                    <form method="post" id="zaregistrovat_form">
                        <button class="custom_button" name="zaregistrovat" value="whatever">Zaregistrovat teď</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="pravy_text">Ubytování</td>
                <td id="accomodation_type" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Hudební vzdělání</td>
                <td id="musical_education" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Nástroj</td>
                <td id="musical_instrument" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Repertoár</td>
                <td id="repertoire" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Uživatelská poznámka</td>
                <td id="comment" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Organizátorská poznámka</td>
                <td id="admin_comment" colspan="2"></td> 
            </tr>
            <tr>
                <td class="pravy_text">Hlavní třída</td>
                <td id="hlavni_trida" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Vedlejší třídy</td>
                <td id="vedlejsi_tridy" colspan="2"></td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<h2>Finance</h2>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td class="pravy_text">Placeno dne</td>
                <td id="billing_date_paid"></td>
                <td></td>
            </tr>
            <tr>
                <td class="pravy_text">Celková částka</td>
                <td id="billing_celkem"></td>
                <td></td>
            </tr>
            <tr id="billing_passive_row" hidden>
                <td class="pravy_text">Pasivní účast</td>
                <td id="billing_pasivni_ucast"></td>
                <td></td>
            </tr>
            <tr id="billing_primary_class_row" hidden>
                <td class="pravy_text">Hlavní třída</td>
                <td id="billing_hlavni_trida"></td>
                <td></td>
            </tr>
            <tr id="billing_secondary_class_row" hidden>
                <td class="pravy_text">Vedlejší třídy</td>
                <td id="billing_vedlejsi_tridy"></td>
                <td></td>
            </tr>
            <tr>
                <td class="pravy_text">Ubytování</td>
                <td id="billing_ubytovani"></td>
                <td></td>
            </tr>
            <!-- ukaze se jen pokud nema stravu -->
            <tr id="billing_strava_row" hidden>
                <td class="pravy_text">Strava</td>
                <td >-</td>
                <td></td>
            </tr>
            <tr id="billing_snidane_row" hidden>
                <td class="pravy_text">Snídaně</td>
                <td id="billing_snidane"></td>
                <td></td>
            </tr>
            <tr id="billing_obedy_row" hidden>
                <td class="pravy_text">Obědy</td>
                <td id="billing_obedy"></td>
                <td></td>
            </tr>
            <tr id="billing_vecere_row" hidden>
                <td class="pravy_text">Večeře</td>
                <td id="billing_vecere"></td>
                <td></td>
            </tr>
            <tr>
                <td class="pravy_text">Dar</td>
                <td id="billing_dar"></td>
                <td></td>
            </tr>
            <tr>
                <td class="pravy_text">Korekce kurzovné</td>
                <td id="billing_correction"></td>
                <td id="billing_correction_reason"></td>
            </tr>
            <tr>
                <td class="pravy_text">Korekce strava</td>
                <td id="billing_food_correction"></td>
                <td id="billing_food_correction_reason"></td>
            </tr>
            <tr>
                <td class="pravy_text">Korekce ubytko</td>
                <td id="billing_accomodation_correction"></td>
                <td id="billing_accomodation_correction_reason"></td>
            </tr>
        </tbody>
    </table>
</div>
<form method="post">
    <div class="row">
        <div class="col-sm">
            <p id="last_billing_email_message"></p><br>
            <p>
                <small>Pokud je účastník dítě nebo má nadřazený účet, bude e-mail poslán rodiči.</small>
            </p>
        </div>
        <div class="col-auto">
            <button type="submit" class="custom_button my-1" name="send_calc" value="cz">Odeslat e-mail česky</button><br>
            <button type="submit" class="custom_button" name="send_calc" value="en">Odeslat e-mail anglicky</button>
        </div>
    </div>
</form>
<hr>
<h2>Strava</h2>
<div class="table-responsive" id="strava_yes" hidden>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Popis</th>
                <th>Počet sad</th>
            </tr>
        <tbody id="meals"></tbody>
    </table>
</div>
<p id="strava_no" hidden>
    Tento účastník si stravu zařizuje samostatně.
</p>
<hr>
<h2>Lektorské informace</h2>
<div class="table-responsive" id="tutor_yes" hidden>
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td class="pravy_text">Vyučované třídy</td>
                <td id="taught_classes"></td>
            </tr>
            <tr>
                <td class="pravy_text">Způsob dopravy</td>
                <td id="tutor_travel"></td>
            </tr>
            <tr>
                <td class="pravy_text">Registrační značka vozidla</td>
                <td id="tutor_license_plate"></td>
            </tr>
            <tr>
                <td class="pravy_text">Příjezd</td>
                <td id="tutor_arrival"></td>
            </tr>
            <tr>
                <td class="pravy_text">Odjezd</td>
                <td id="tutor_departure"></td>
            </tr>
            <tr>
                <td class="pravy_text">Jména doprovodu</td>
                <td id="tutor_accompanying_names"></td>
            </tr>
            <tr>
                <td class="pravy_text">Adresa</td>
                <td id="tutor_address"></td>
            </tr>
            <tr>
                <td class="pravy_text">Bankovní účet</td>
                <td id="tutor_bank_account"></td>
            </tr>
        </tbody>
    </table>
</div>
<p id="tutor_no" hidden>
    Tento uživatel není lektorem. <a class="link" href="{{url_for('org_views.udelit_role', id=id)}}">udělit role</a>
</p>

<hr>
<h2>Přístup k účtu</h2>
<p>
    Všechny možnosti obnovení hesla jsou v úpravě
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td class="pravy_text">Je to letošní účastník?</td>
                <td id="is_this_year_participant"></td>
            </tr>
            <tr>
                <td class="pravy_text">Musí při dalším přihlášení změnit heslo?</td>
                <td id="must_change_password_upon_login"></td>
            </tr>
            <tr>
                <td class="pravy_text">Má ověřený e-mail?</td>
                <td id="confirmed_email"></td>
            </tr>
            <tr>
                <td class="pravy_text">Má uzamčené změny účtu?</td>
                <td id="is_locked"></td>
            </tr>
            <tr>
                <td class="pravy_text">Datum vytvoření účtu</td>
                <td id="datetime_created" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Role</td>
                <td id="roles" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Rodič účtu</td>
                <td id="parent" colspan="2"></td>
            </tr>
            <tr>
                <td class="pravy_text">Děti</td>
                <td id="children" colspan="2"></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="module" src="{{url_for('static', filename='js/organizator/detail_ucastnika.js')}}"></script>

{% endblock %}