{%extends"cz_context.html"%}

{%block content%}
    <h1>Dokumentace k Valtickému přihláškovému systému</h1>
    <h1>Je zastaralá a potřebuje dopsat po četných změnách</h1>
    <p>
        TODO tohle dát kam to patří: Pokud potřebujete někam, kam nemáte přístup, kontaktujte jednoho z administrátorů: {{admins}}
    </p>
    <p>
        Cílem této stránky je poskytnout organizátorům informace o tom, jak systém funguje a jak jej používat.
    </p>
    <hr>
    <h2>Obsah</h2>
    <ul>
        <li><a class="link" href="#uvod">Úvodní stránka přihlašovacího systému</a></li>
        <li><a class="link" href="#role">Role</a></li>
        <li><a class="link" href="#ucastnici">Účastníci</a></li>
        <li><a class="link" href="#tridy">Třídy</a></li>
        <li><a class="link" href="#cenik">Ceník</a></li>
        <li><a class="link" href="#generovani_seznamu">Generování seznamů</a></li>
        <li><a class="link" href="#nastaveni_aplikace">Nastavení aplikace</a></li>
        <li><a class="link" href="#organizatori">Organizátoři</a></li>
        <li><a class="link" href="#technologie">Technologie webu a zdrojový kód</a></li>
    </ul>

    <h2 id="uvod">Úvodní stránka</h2>
    <p>
        To, co je na úvodní stránce vidět, závisí na dvou věcech:
        <ul>
            <li>Na tom, zda jste přihlášeni a s jakou rolí</li>
            <li>Na tom, jaký text je tam aktuálně z admin sekce nastavený.</li>
        </ul>
        <p>
            Znění textu na úvodní stránce můžete provádět v sekci <a class="link" href="{{url_for('org_views.settings')}}">Nastavení</a>.
        </p>
        <p>
            Pokud jste přihlášeni jako účastník, zobrazí se vám v horní liště přístup na účet a přístup k přihlašování do tříd.
        </p>
        <p>
            Pokud jste přihlášeni jako lektor, zobrazí se vám v horní liště dále přístup do náhledu na své třídy a účastníky.
        </p>
    </p>

    <h2 id="role">Role</h2>
    <p>
        Každý uživatel může mít přiřazeno několik rolí:
        <ul>
            <li><b>bez role</b>: Běžný účastník MLŠSH, vidí pouze svůj účet</li>
            <li><b>Korepetitor</b>: Je zařazen mezi korepetitory.</li>
            <li><b>Lektor</b>: Má náhled na svou třídu a účastníky v ní.</li>
            <li><b>Organizátor:</b> Má náhled na všechny účastníky a třídy.</li>
            <li><b>Editor</b>: Možnost mazání účastníků a tříd, nastavení ceníku, přístup k více nastavením.</li>
            <li><b>Admin</b>: Přístup k udílení rolí dalším pořadatelům.</li>
        </ul>
    </p>

    <h2 id="ucastnici">Účastníci</h2>
    <p>
        Při každém přihlášení projde účet účastníka několika kontrolami, které zajišťují úplnost dat:
        <ul>
            <li>Pokud mají zadaný e-mail, musí být ověřený. Pokud není ověřený, je odeslán ověřovací e-mail a jsou přesměrováni na stránku pro ověření e-mailu. Tato kontrola neprobíhá u účtů bez e-mailu, což jsou (snad) výhradně děti.</li>
            <li>Pokud musí změnit po přihlášení heslo, jsou přesměrováni na stránku pro změnu hesla. To se může stát v případě, kdy jim bylo heslo změněno někým z organizátorů nebo pokud byl jejich účet organizátory vytvořen.</li>
            <li>Pokud nemají zájem o letošní ročník, jsou přesměrováni na místo, kde jej mohou projevit. Do svého účtu se dostanou i bez tohoto souhlasu, ale budou na to neustále upozorňováni. Po konci ročníku je všem účastníkům nastaveno, že o další ročník zájem nemají.</li>
            <li>Pokud jim chybí některé povinné informace, jsou přesměrováni na stránku pro jejich doplnění.</li>
        </ul>
    </p>

    <h2 id="tridy">Třídy</h2>

    <h2 id="cenik">Ceník</h2>

    <h2 id="generovani_seznamu">Generování seznamů</h2>

    <h2 id="nastaveni_aplikace">Nastavení aplikace</h2>

    <h2 id="organizatori">Organizátoři</h2>

    <h2 id="technologie">Technologie webu a zdrojový kód</h2>
{%endblock%}