{%extends"cz_context.html"%}

{%block content%}
    <h1>Dokumentace k Valtickému přihláškovému systému</h1>
    <p>
        TODO tohle dát kam to patří: Pokud potřebujete někam, kam nemáte přístup, kontaktujte jednoho z administrátorů: {{admins}}
    </p>
    TODO je outdated
    <p>
        Cílem této stránky je poskytnout organizátorům informace o tom, jak systém funguje a jak jej používat.
    </p>
    <hr>
    <h2>Obsah</h2>
    <ul>
        <li><a class="link" href="#uvod">Úvodní stránka přihlašovacího systému</a></li>
        <li><a class="link" href="#role">Role</a></li>
        <li><a class="link" href="#ucastnici">Účastníci</a></li>
        <li><a class="link" href="#tridy">Třídy</a></li>
        <li><a class="link" href="#cenik">Ceník</a></li>
        <li><a class="link" href="#generovani_seznamu">Generování seznamů</a></li>
        <li><a class="link" href="#nastaveni_aplikace">Nastavení aplikace</a></li>
        <li><a class="link" href="#organizatori">Organizátoři</a></li>
        <li><a class="link" href="#technologie">Technologie webu a zdrojový kód</a></li>
    </ul>

    <h2 id="uvod">Úvodní stránka</h2>
    <p>
        To, co je na úvodní stránce vidět, závisí na dvou věcech:
        <ul>
            <li>Na tom, zda jste přihlášeni a s jakou rolí</li>
            <li>Na tom, jaký text je tam aktuálně z admin sekce nastavený.</li>
        </ul>
        <p>
            Znění textu na úvodní stránce můžete provádět v sekci <a class="link" href="{{url_for('org_views.settings')}}">Nastavení</a>.
        </p>
        <p>
            Pokud jste přihlášeni jako účastník, zobrazí se vám v horní liště přístup na účet a přístup k přihlašování do tříd.
        </p>
        <p>
            Pokud jste přihlášeni jako lektor, zobrazí se vám v horní liště dále přístup do náhledu na své třídy a účastníky.
        </p>
    </p>

    <h2 id="role">Role</h2>
    <p>
        Každý uživatel může mít přiřazeno několik rolí:
        <ul>
            <li><b>bez role</b>: Běžný účastník MLŠSH, vidí pouze svůj účet</li>
            <li><b>Lektor</b>: Má náhled na svou třídu a účastníky v ní.</li>
            <li><b>Organizátor:</b> Má náhled na všechny účastníky a třídy.</li>
            <li><b>Editor</b>: Možnost mazání účastníků a tříd, nastavení ceníku, přístup k více nastavením.</li>
            <li><b>Admin</b>: Přístup k udílení rolí dalším pořadatelům.</li>
        </ul>
        V celém systému je u každé akce na kterou nemáte oprávnění jasně napsáno, jaká role danou činnost může provést.
    </p>

    <h2 id="ucastnici">Účastníci</h2>

    <h2 id="tridy">Třídy</h2>

    <h2 id="cenik">Ceník</h2>

    <h2 id="generovani_seznamu">Generování seznamů</h2>

    <h2 id="nastaveni_aplikace">Nastavení aplikace</h2>

    <h2 id="organizatori">Organizátoři</h2>

    <h2 id="technologie">Technologie webu a zdrojový kód</h2>
{%endblock%}