{% extends "index.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    <h2>Datum a čas otevření přihlášek</h2>
    <div class="row">
        <div class="col-12 col-sm-1 my-1">
            Datum:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="date" name="applications_start_date" id="applications_start_date">
        </div>
        <div class="col-12 col-sm-1 my-1">
            Čas:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="time" name="applications_start_time" id="applications_start_time">
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="btn btn-primary" name="datum_cas_start" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
    <hr>   
    <h2>Uzavření přihlášek</h2>
    <div class="row">
        <div class="col-12 col-sm-1 my-1">
            Datum:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="date" name="applications_end_date" id="applications_end_date">
        </div>
        <div class="col-12 col-sm-1 my-1">
            Čas:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="time" name="applications_end_time" id="applications_end_time">
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="btn btn-primary" name="datum_cas_end" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
    <hr>
    <h2>Vytvoření nového účastníka</h2>
    <div class="row">
        <div class="col-12 col-sm-2 my-1">
            Jméno:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="text" name="jmeno" placeholder="Franta">
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="text" name="prijmeni" placeholder="Vopička">
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="btn btn-primary" name="novy_ucastnik" value="whatever" type="submit">Vytvořit</button>
        </div>
    </div>
    <small>Slouží zejména pro testing. Další atributy účastníka se dají upravit v detailu.</small>
    <hr>
    <h2>Vytvoření nové třídy</h2>
    <div class="row">
        <div class="col-sm-2">
            Krátký název třídy:
        </div>
        <div class="col">
            <input class="form-control" type="text" name="short_name" placeholder="Jméno Lektora | upřesnění">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" name="nova_trida" value="whatever" type="submit">Vytvořit</button>
        </div>
    </div>
    <hr>
    <h2>Vytvoření exportu systému</h2>
    <div class="row">
        <div class="col">Export slouží k archivaci dat po konci ročníku před tím, než bude systém promazán. Neslouží a nikdy nebude sloužit jako záloha dat, t.j. po promazání systému zůstanou ročníková data pouze ve vytvořeném .xlsx souboru.</div>
        <div class="col-auto">
            <button class="btn btn-primary" name="export" value="whatever" type="submit">Vytvořit export</button>
        </div>
    </div>
</form>
<hr>
<h2>Smazání všech účastníků</h2>
<button type="button" id="delete_button" class="btn btn-danger">Smazat všechny účastníky</button>
<form id="form" method="post">
    <input type="hidden" name="delete_all" value="whatever">
</form>

<script type="module" src="{{url_for('static', filename='js/organizator/settings.js')}}"></script>

{% endblock %}