{% extends"cz_context.html" %}
{% block content %}
<h2>Datum a čas začátku přihlašování do hlavních tříd</h2>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm-1 my-1">
            Datum:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="date" name="primary_classes_start_date" id="primary_classes_start_date">
        </div>
        <div class="col-12 col-sm-1 my-1">
            Čas:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="time" name="primary_classes_start_time" id="primary_classes_start_time">
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="datum_cas_primary" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
</form>
<hr>   
<h2>Datum a čas začátku přihlašování do vedlejších tříd</h2>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm-1 my-1">
            Datum:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="date" name="secondary_classes_start_date" id="secondary_classes_start_date">
        </div>
        <div class="col-12 col-sm-1 my-1">
            Čas:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="time" name="secondary_classes_start_time" id="secondary_classes_start_time">
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="datum_cas_secondary" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
</form>
<hr>   
<h2>Uzavření přihlašování</h2>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm-1 my-1">
            Datum:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="date" name="applications_end_date" id="applications_end_date">
        </div>
        <div class="col-12 col-sm-1 my-1">
            Čas:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="time" name="applications_end_time" id="applications_end_time">
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="datum_cas_end" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
</form>
<hr>
<h2>Vytvoření nového účtu</h2>
<small>Pokud vytváříte účet pro pořadatele, je nutné mu poté <a class="link" href="{{url_for('org_views.organizatori')}}">udělit správné role</a>.</small>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm-2 my-1">
            e-mail:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="text" name="email" placeholder="franta.vopicka@example.com" required>
        </div>
        <div class="col-12 col-sm-2 my-1">
            heslo:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="text" name="password" placeholder="heslo123" required>
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="novy_ucastnik" value="whatever" type="submit">Vytvořit</button>
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" name="is_tutor" id="is_tutor" class="form-check-input">
        <label for="is_tutor" class="form-check-label">Udělit roli lektora</label>
    </div>
    <div class="form-check">
        <input type="checkbox" name="email_verified" id="email_verified" class="form-check-input" checked>
        <label for="email_verified" class="form-check-label">Považovat e-mail za ověřený</label>
    </div>
    <div class="form-check">
        <input type="checkbox" name="require_password_change" id="require_password_change" class="form-check-input" checked>
        <label for="require_password_change" class="form-check-label">Vyžadovat změnu hesla při prvním přihlášení</label>
    </div>
</form>
<hr>
<h2>Vytvoření nové třídy</h2>
<form method="post">
    <div class="row">
        <div class="col-sm-2">
            Krátký název třídy:
        </div>
        <div class="col">
            <input class="form-control" type="text" name="short_name" placeholder="Jméno Lektora | upřesnění" required>
        </div>
        <div class="col-auto">
            <button class="custom_button" name="nova_trida" value="whatever" type="submit">Vytvořit</button>
        </div>
    </div>
    <small>Úplný název třídy a anglické znění půjde zadat po založení třídy.</small>
</form>
<hr>
<h2>Vytvoření nového jídla</h2>
<form method="post">
    <div class="row my-1">
        <div class="col-sm-2">
            Typ:
        </div>
        <div class="col">
            <select name="type" class="form-control">
                <option value="breakfast">snídaně</option>
                <option value="lunch">oběd</option>
                <option value="dinner">večeře</option>
            </select>
        </div>
    <div class="col-sm-2"></div>
    </div>
    <div class="row my-1">
        <div class="col-sm-2">
            Lokace:
        </div>
        <div class="col">
            <select name="location" class="form-control">
                <option value="zs">základní škola</option>
                <option value="vs">vinařské učiliště</option>
            </select>
        </div>
    <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Je vegetariánské?
        </div>
        <div class="col">
            <select name="is_vegetarian" class="form-control">
                <option value="ano">ano</option>
                <option value="ne">ne</option>
            </select>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <button class="custom_button" name="nove_jidlo" value="whatever" type="submit">Vytvořit</button>
        </div>
    </div>
</form>
<hr>
<h2>Český text na úvodní stránce přihláškového systému</h2>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm my-1">
            <textarea class="form-control" name="text_cz" rows="5" id="text_cz"></textarea>
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="text_cz" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
    <small>
        Editor podporuje html syntax jako odkazy, konce řádků a nadpisy. ChatGPT s tím pomůže. Fáze ročníku, které zaslouží aktualizaci tohoto textu:
        <ul>
            <li>ročník bude</li>
            <li>zveřejněné datum přihlášek</li>
            <li>přihlášky běží a je zveřejněné datum konce přihlášek</li>
            <li>uzamčení změn profilů, MLŠSH zanedlouho začne</li>
            <li>probíhá MLŠSH</li>
            <li>ročník skončil</li>
        </ul>
    </small>
</form>
<hr>
<h2>Anglický text na úvodní stránce přihláškového systému</h2>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm my-1">
            <textarea class="form-control" name="text_en" rows="5" id="text_en"></textarea>
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="text_en" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
</form>
<hr>

<h2>Nahrání nového loga ročníku</h2>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-2">
            České logo
        </div>
        <div class="col">
            <input class="form-control" type="file" name="logo_cz" accept=".png">
        </div>
        <div class="col-auto">
            <button class="custom_button" name="nahrat_logo_cz" value="whatever" type="submit">Nahrát</button>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-2">
            Anglické logo
        </div>
        <div class="col">
            <input class="form-control" type="file" name="logo_en" accept=".png">
        </div>
        <div class="col-auto">
            <button class="custom_button" name="nahrat_logo_en" value="whatever" type="submit">Nahrát</button>
        </div>
    </div>
</form>
<hr>
<h2>Vytvoření exportu systému</h2>
<form method="post">
    <div class="row">
        <div class="col">Export slouží k archivaci dat po konci ročníku před tím, než bude systém promazán. Neslouží a nikdy nebude sloužit jako záloha dat, t.j. po promazání systému zůstanou ročníková data pouze ve vytvořeném .xlsx souboru.</div>
        <div class="col-auto">
            <button class="custom_button" name="export" value="whatever" type="submit">Vytvořit export</button>
        </div>
    </div>
</form>

<script type="module" src="{{url_for('static', filename='js/organizator/settings.js')}}"></script>

{% endblock %}