{% extends"cz_context.html" %}
{% block content %}
<form method="post">
    <h2>Datum a čas začátku přihlašování do hlavních tříd</h2>
    <div class="row">
        <div class="col-12 col-sm-1 my-1">
            Datum:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="date" name="primary_classes_start_date" id="primary_classes_start_date">
        </div>
        <div class="col-12 col-sm-1 my-1">
            Čas:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="time" name="primary_classes_start_time" id="primary_classes_start_time">
        </div>
    </div>
    <h2>Datum a čas začátku přihlašování do vedlejších tříd</h2>
    <div class="row">
        <div class="col-12 col-sm-1 my-1">
            Datum:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="date" name="secondary_classes_start_date" id="secondary_classes_start_date">
        </div>
        <div class="col-12 col-sm-1 my-1">
            Čas:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="time" name="secondary_classes_start_time" id="secondary_classes_start_time">
        </div>
    </div>
    <h2>Uzavření přihlašování</h2>
    <div class="row">
        <div class="col-12 col-sm-1 my-1">
            Datum:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="date" name="applications_end_date" id="applications_end_date">
        </div>
        <div class="col-12 col-sm-1 my-1">
            Čas:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="time" name="applications_end_time" id="applications_end_time">
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="custom_button" name="dates" value="whatever" type="submit">Uložit časy</button>
    </div>
</form>
<hr>
<h2>Uzavření změn profilů</h2>
<form method="post">
    <div class="row">
        <div class="col my-1" id="lock_state"></div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="toggle_lock" id="toggle_lock" value="whatever" type="submit"></button>
        </div>
    </div>
</form>
<hr>
<h2>Posílání kalkulací</h2>
<form method="post">
    <div class="row">
        <div class="col my-1" id="calculations_state"></div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="toggle_calculations" id="toggle_calculations" value="whatever" type="submit"></button>
        </div>
    </div>
</form>
<hr>
<h2>Vytvoření nového účtu</h2>
<small>Pokud vytváříte účet pro pořadatele, je nutné mu poté <a class="link" href="{{url_for('org_views.organizatori')}}">udělit správné role</a>.</small>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm-2 my-1">
            e-mail:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="text" name="email" placeholder="franta.vopicka@example.com" required>
        </div>
        <div class="col-12 col-sm-2 my-1">
            heslo:
        </div>
        <div class="col-12 col-sm my-1">
            <input class="form-control" type="text" name="password" placeholder="heslo123" required>
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="novy_ucastnik" value="whatever" type="submit">Vytvořit</button>
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" name="is_tutor" id="is_tutor" class="form-check-input">
        <label for="is_tutor" class="form-check-label">Udělit roli lektora</label>
    </div>
    <div class="form-check">
        <input type="checkbox" name="email_verified" id="email_verified" class="form-check-input" checked>
        <label for="email_verified" class="form-check-label">Považovat e-mail za ověřený</label>
    </div>
    <div class="form-check">
        <input type="checkbox" name="require_password_change" id="require_password_change" class="form-check-input" checked>
        <label for="require_password_change" class="form-check-label">Vyžadovat změnu hesla při prvním přihlášení</label>
    </div>
    TODO tady přibude možnost odeslat uvítací e-mail v cz a en.
</form>
<hr>
<h2>Vytvoření nové třídy</h2>
<form method="post">
    <div class="row">
        <div class="col-sm-2">
            Krátký název třídy:
        </div>
        <div class="col">
            <input class="form-control" type="text" name="short_name" placeholder="Jméno Lektora | upřesnění" required>
        </div>
        <div class="col-auto">
            <button class="custom_button" name="nova_trida" value="whatever" type="submit">Vytvořit</button>
        </div>
    </div>
    <small>Úplný název třídy a anglické znění půjde zadat po založení třídy.</small>
</form>
<hr>
<h2>Vytvoření nového jídla</h2>
<form method="post">
    <div class="row my-1">
        <div class="col-sm-2">
            Typ:
        </div>
        <div class="col">
            <select name="type" class="form-control">
                <option value="breakfast">snídaně</option>
                <option value="lunch">oběd</option>
                <option value="dinner">večeře</option>
            </select>
        </div>
    <div class="col-sm-2"></div>
    </div>
    <div class="row my-1">
        <div class="col-sm-2">
            Lokace:
        </div>
        <div class="col">
            <select name="location" class="form-control">
                <option value="zs">základní škola</option>
                <option value="vs">vinařské učiliště</option>
            </select>
        </div>
    <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Je vegetariánské?
        </div>
        <div class="col">
            <select name="is_vegetarian" class="form-control">
                <option value="ano">ano</option>
                <option value="ne">ne</option>
            </select>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <button class="custom_button" name="nove_jidlo" value="whatever" type="submit">Vytvořit</button>
        </div>
    </div>
</form>
<hr>
<h2>Český text na úvodní stránce přihláškového systému</h2>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm my-1">
            <textarea class="form-control" name="cz_frontpage_text" rows="5" id="cz_frontpage_text"></textarea>
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="text_cz" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
    <small>
        Editor podporuje html syntax jako odkazy, konce řádků a nadpisy. ChatGPT s tím pomůže. Fáze ročníku, které zaslouží aktualizaci tohoto textu:
        <ul>
            <li>ročník bude</li>
            <li>zveřejněné datum přihlášek</li>
            <li>přihlášky běží a je zveřejněné datum konce přihlášek</li>
            <li>uzamčení změn profilů, MLŠSH zanedlouho začne</li>
            <li>probíhá MLŠSH</li>
            <li>ročník skončil</li>
        </ul>
    </small>
</form>
<hr>
<h2>Anglický text na úvodní stránce přihláškového systému</h2>
<form method="post">
    <div class="row">
        <div class="col-12 col-sm my-1">
            <textarea class="form-control" name="en_frontpage_text" rows="5" id="en_frontpage_text"></textarea>
        </div>
        <div class="col-12 col-sm-auto my-1">
            <button class="custom_button" name="text_en" value="whatever" type="submit">Uložit</button>
        </div>
    </div>
</form>
<hr>

<h2>Nastavení kapacity ubytování</h2>
<form method="post">
    <button class="custom_button" name="capacity" value="whatever" type="submit">Uložit kapacity</button>
    <div class="row my-1">
        <div class="col-sm-4">
            Kapacita internátu:
        </div>
        <div class="col">
            <input class="form-control" type="number" name="vs_capacity" id="vs_capacity" min="0">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm-4">
            Kapacita tělocvičny:
        </div>
        <div class="col">
            <input class="form-control" type="number" name="gym_capacity" id="gym_capacity" min="0">
        </div>
    </div>
</form>

<hr>

<h2>Nahrání nového loga ročníku</h2>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-2">
            České logo
        </div>
        <div class="col">
            <input class="form-control" type="file" name="logo_cz" accept=".png">
        </div>
        <div class="col-auto">
            <button class="custom_button" name="nahrat_logo_cz" value="whatever" type="submit">Nahrát</button>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-2">
            Anglické logo
        </div>
        <div class="col">
            <input class="form-control" type="file" name="logo_en" accept=".png">
        </div>
        <div class="col-auto">
            <button class="custom_button" name="nahrat_logo_en" value="whatever" type="submit">Nahrát</button>
        </div>
    </div>
</form>
<hr>

<h2>Nastavení platebních údajů</h2>
<form method="post">
    <p>
        Tyto údaje se pošlou účastníkům v e-mailu s kalkulací podle toho, zda zvolili za svou měnu koruny nebo eura.
    </p>
    <button class="custom_button my-2" name="bank_details_button" value="whatever" type="submit">Uložit</button>
    <div class="row">
        <div class="col-sm">
            Číslo účtu pro platbu v korunách:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="czk_bank_account" id="czk_bank_account">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm">
            IBAN pro platbu v korunách:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="czk_iban" id="czk_iban">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm">
            SWIFT pro platbu v korunách:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="czk_swift" id="czk_swift">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm">
            BIC pro platbu v korunách:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="czk_bic" id="czk_bic">
        </div>
    </div>
    <div class="row my-1 mb-4">
        <div class="col-sm">
            Adresa pro platbu v korunách:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="czk_address" id="czk_address">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm">
            Číslo účtu pro platbu v eurech:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="eur_bank_account" id="eur_bank_account">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm">
            IBAN pro platbu v eurech:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="eur_iban" id="eur_iban">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm">
            SWIFT pro platbu v eurech:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="eur_swift" id="eur_swift">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm">
            BIC pro platbu v eurech:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="eur_bic" id="eur_bic">
        </div>
    </div>
    <div class="row my-1">
        <div class="col-sm">
            Adresa pro platbu v eurech:
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" name="eur_address" id="eur_address">
        </div>
    </div>
</form>
<hr>
<h2>Náhled na logy</h2>
<form method="post">
    <button class="custom_button" name="logs" value="whatever" type="submit">Zobrazit logy</button>
</form>
<hr>
<h2>Výpis pro řešení ubytování</h2>
<p>TODO Toto bude přesunuto do výpisů</p>
<form method="post">
    <button class="custom_button" name="ubytko_internat" value="whatever" type="submit">Internát</button>
</form>
<hr>
<h2>Vytvoření exportu systému</h2>
<form method="post">
    <div class="row">
        <div class="col">Export slouží k archivaci dat po konci ročníku před tím, než bude systém promazán. Neslouží jako záloha dat, t.j. po promazání systému zůstanou ročníková data pouze ve vytvořeném .xlsx souboru. Níže jde nahrát systém z tohoto exportu, ale tato funkce by se měla využívat pouze ve výjimečných případech.</div>
        <div class="col-auto">
            <button class="custom_button" name="export" value="whatever" type="submit">Vytvořit export</button>
        </div>
    </div>
</form>

<hr>

<h2>Příprava systému na další ročník</h2>
<form method="post" id="end_of_issem_form">
    <div class="row">
        <div class="col">
            <div class="attention-message">
                Před přípravou systému na další ročník se ujistěte, že jste provedli export systému tlačítkem výše a že ho máte dobře uložený. Toto tlačítko nenávratně připraví systém na další ročník.
            </div>
        </div>
        <div class="col-auto d-flex align-items-center">
            <button class="custom_button" id="end_of_issem" type="button">Provést</button>
            <input type="hidden" name="end_of_issem" value="whatever">
        </div>
    </div>
    Co se při restartu děje?
    <ul>
        <li>ponechání všech uživatelů, tříd, rolí, sazeb a jídel</li>
        <li>odhlášení všech účastníků ze všech tříd</li>
        <li>nastavení u všech účastníků, že nemají zájem o letošní ročník. To znamená, že při příští návštěvě účtu budou konfrontováni s tím, zda mají či nemají zájem jet znovu</li>
        <li>promazání data odeslání e-mailu s financemi, data zápisu do hlavní třídy, data registrace ve Valticích a data zaplacení</li>
        <li>promazání organizátorské poznámky, všech korekcí a všech důvodů korekcí</li>
        <li>promazání všech objednávek jídla</li>
        <li>lektorům je promazána informace o příjezdu a odjezdu</li>
    </ul>
    Co je při restartu dále potřeba udělat ručně v nastavení?
    <ul>
        <li>Nastavit datum přihlášek někdy na duben - to proto, aby se systém choval tak, že přihlášky budou, ne že už byly.</li>
        <li>Odemknout změny na všech účtech</li>
        <li>Zakázat samovolné posílání kalkulací všem uživatelům</li>
        <li>Přepsat texty na úvodní české a anglické stránce</li>
    </ul>
</form>
<hr>
<h2>Obnova stavu z exportu</h2>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="attention-message">
                Obnova systému ze zálohy je mnohem drsnější operace, než příprava systému na další rok. Při obnově dojde k přepsání všech dat v systému daty ze zálohy. Tím pádem dojde ke ztrátě všech nových uživatelů, tříd, jídel, objednávek a dalších dat, která byla vytvořena po vytvoření zálohy.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>
                    Zatímco příprava na další ročník nemaže žádné uživatele ani třídy ale pouze jim promaže některá data, obnova ze zálohy přepíše celý systém přesně do stavu v momentě exportu.
                </li>
                <li>
                    Slouží pro případ výjimčných situací a nejbezpečnější je mít vždy aktuální export systému uložený na bezpečném místě.
                </li>
                <li>
                    Pokud je to možné, doporučuje se obnovu provádět na testovací instanci systému, aby se předešlo nechtěné ztrátě dat. Taková testovací instance může např. běžet lokálně na počítači vývojáře. Není to ale nutné.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="file" class="form-control" name="restore_file" accept=".xlsx" required>
        </div>
        <div class="col-auto">
            <button class="custom_button" name="restore" value="whatever" type="submit" onclick="return confirm('Opravdu chcete obnovit systém ze zálohy? Tato akce je nevratná.')">Obnovit</button>
        </div>
    </div>
</form>
<script type="module" src="{{url_for('static', filename='js/organizator/settings.js')}}"></script>

{% endblock %}