{% extends"cz_context.html" %}

{% block content %}
<form method="post">
    <h1>Seznam účastníků</h1>
    <hr>
    <p>
        Zobrazují se tu pouze účastníci, kteří mají zájem o letošní ročník. Seznam všech registrovaných účtů za poslední roky naleznete <a class="link" href="{{url_for('org_views.seznam_uctu')}}">zde</a>.
    </p>
    <hr>
    <p class="my-1">Celkový počet uživatelů v systému: <span id="vsichni"></span></p>
    <p class="my-1">Z toho počet zájemců o tento ročník: <span id="zajemci"></span></p>
    <p class="my-1">Z toho zapsaných do hlavní třídy: <span id="zapsani"></span></p>
    <p class="my-1">Z toho registrovaných ve Valticích: <span id="registrovani"></span></p>
    <p class="my-1">U dětských účtů je zobrazen e-mail rodiče.</p>
    <div id="parent_div"></div>
</form>

<script type="module" src="{{url_for('static', filename='js/organizator/seznam_ucastniku.js')}}"></script>

{% endblock %}