{% extends"cz_context.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seznam_uzivatelu_table.css')}}">
<h1>Lektoři</h1>
<p>
    Lektoři, kteří se letošního ročníku neúčastní, ale jejich účty nebylo potřeba mazat, jsou uvedeni v <a class="link" href="{{url_for('org_views.seznam_vypnutych_lektoru')}}">seznamu vypnutých lektorů a korepetitorů</a>.  Nové lektory můžete založit v <a class="link" href="{{url_for('org_views.settings')}}">nastavení</a>.
</p>

<div id="parent_div"></div>

<script type="module" src="{{url_for('static', filename='js/organizator/seznam_lektoru.js')}}"></script>

{% endblock %}