{% extends"cz_context.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seznam_uzivatelu_table.css')}}">
<h1>Generování seznamů</h1>
<h1>TODO opravit</h1>
<hr>
<div id="prvni_krok">
    <p>
        Seznamy se generují v několika krocích:
        <ol>
            <li>Výběr množiny účastníků</li>
            <li>Zvolení atribut k vypsání</li>
            <li>Vytvoření výpisu</li>
            <li>Možnosti exportu jako .xlsx nebo .pdf soubory.</li>
        </ol>
    </p>
    <h2> Výběr účastníků</h2>
    <small class="text-muted">Mezi jednotlivými kategoriemi platí konjunkce. <i>Příklad: Vyber všechny účastníky, kteří chodí do třídy Roberta Huga a zároveň mají snídani na VŠ.</i></small>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Třída</h3>
                <small class="text-muted">Mezi jednotlivými třídami funguje poměr slučovací: Při vybrání dvou a více tříd budou vybráni všichni účastníci, kteří chodí alespoň do jedné z nich. <i>Příklad: vyber všechny takové účastníky, kteří chodí k Evě Káčerkové nebo k Luise Haugk. </i></small>
                <div id="checkboxy_trid">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="jakakoli_trida" checked>
                        <label class="form-check-label" for="jakakoli_trida">Jakákoli</label>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h3>Ubytování</h3>
                <small class="text-muted">Vybráním tělocvičny i ubytka budou vybráni všichni účastníci, kteří jsou ubytovaní v tělocvičně nebo na internátu. <i>Příklad: vyber všechny účastníky, kterým MLŠSH zajišťuje ubytko, tedy v tělocvične i na intru.</i></small>
                <div id="checkboxy_ubytovani">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="jakekoli_ubytko" checked>
                        <label class="form-check-label" for="jakekoli_ubytko">Jakékoli</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="telocvicna">
                        <label class="form-check-label" for="telocvicna">Tělocvična</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="internat">
                        <label class="form-check-label" for="internat">Internát VŠ</label>
                    </div>
                </div>
                <h3>Strava</h3>
                <small class="text-muted">Mezi jednotlivými možnostmi stravy funguje poměr slučovací: Při vybrání dvou a více možností stravy budou vybráni všichni účastníci, kteří využívají alespoň jednu z nich. <i>Například: vyber všechny účastníky, kteří mají snídani na VŠ nebo oběd na ZŠ.</i></small>
                <div id="checkboxy_strava">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="jakakoli_strava" checked>
                        <label class="form-check-label" for="jakakoli_strava">Jakákoli</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="snidane_zs">
                        <label class="form-check-label" for="snidane_zs">Snídaně na ZŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="snidane_vs">
                        <label class="form-check-label" for="snidane_vs">Snídaně na VŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="obed_zs">
                        <label class="form-check-label" for="obed_zs">Oběd na ZŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="obed_vs">
                        <label class="form-check-label" for="obed_vs">Oběd na VŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="vecere_zs">
                        <label class="form-check-label" for="vecere_zs">Večeře na ZŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="vecere_vs">
                        <label class="form-check-label" for="vecere_vs">Večeře na VŠ</label>
                    </div>
                </div>
                <h3>Ostatní</h3>
                <small class="text-muted">Mezi jednotlivými pravidly platí konjunkce. <i>Příklad: Vyber všechny účastníky, kteří něco darovali a zároveň se ještě neregistrovali.</i></small>
                <div id="checkboxy_ostatni">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="korekce">
                        <label class="form-check-label" for="korekce">Všichni, kdo mají jakoukoli finanční korekci</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="neregistrace">
                        <label class="form-check-label" for="neregistrace">Všichni, kdo se dosud neregistrovali</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="dar">
                        <label class="form-check-label" for="dar">Všichni, kdo darovali</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="poznamka">
                        <label class="form-check-label" for="poznamka">Všichni, kdo mají uživatelskou poznámku</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Atributy k vypsání</h2>
    <small class="text-muted">Jméno a příjmení budou vypsány vždy.</small>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="checkboxy_udaju">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cas">
                        <label class="form-check-label" for="cas">Čas vyplnění přihlášky</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cas_registrace">
                        <label class="form-check-label" for="cas_registrace">Čas registrace</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="vek">
                        <label class="form-check-label" for="vek">Věk</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="email">
                        <label class="form-check-label" for="email">Email</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="telefon">
                        <label class="form-check-label" for="telefon">Telefon</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_dne">
                        <label class="form-check-label" for="finance_dne">Datum zaplacení</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_celkem">
                        <label class="form-check-label " for="finance_celkem">Finance - Celková částka</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_mena">
                        <label class="form-check-label" for="finance_mena">Finance - Měna</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_kategorie">
                        <label class="form-check-label" for="finance_kategorie">Finance - Kategorie</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_dar">
                        <label class="form-check-label" for="finance_dar">Finance - Dar</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_kurzovne">
                        <label class="form-check-label" for="finance_kurzovne">Finance - Kurzovné</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_strava">
                        <label class="form-check-label" for="finance_strava">Finance - Strava</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_ubytovani">
                        <label class="form-check-label" for="finance_ubytovani">Finance - Ubytování</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_korekce_kurzovne">
                        <label class="form-check-label" for="finance_korekce_kurzovne">Finance - Korekce kurzovné</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_korekce_kurzovne_duvod">
                        <label class="form-check-label" for="finance_korekce_kurzovne_duvod">Finance - Důvod korekce kurzovné</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_korekce_strava">
                        <label class="form-check-label" for="finance_korekce_strava">Finance - Korekce strava</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_korekce_strava_duvod">
                        <label class="form-check-label" for="finance_korekce_strava_duvod">Finance - Důvod korekce strava</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_korekce_ubytko">
                        <label class="form-check-label" for="finance_korekce_ubytko">Finance - Korekce ubytování</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="finance_korekce_ubytko_duvod">
                        <label class="form-check-label" for="finance_korekce_ubytko_duvod">Finance - Důvod korekce ubytování</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ssh_clen">
                        <label class="form-check-label" for="ssh_clen">SSH Člen</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ucast">
                        <label class="form-check-label" for="ucast">Účast</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hlavni_trida_1_id">
                        <label class="form-check-label" for="hlavni_trida_1_id">Hlavní třída 1</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hlavni_trida_2_id">
                        <label class="form-check-label" for="hlavni_trida_2_id">Hlavní třída 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="vedlejsi_trida_placena_id">
                        <label class="form-check-label" for="vedlejsi_trida_placena_id">Vedlejší třída placená</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="vedlejsi_trida_zdarma_id">
                        <label class="form-check-label" for="vedlejsi_trida_zdarma_id">Vedlejší třída zdarma</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ubytovani">
                        <label class="form-check-label" for="ubytovani">Ubytování</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ubytovani_pocet">
                        <label class="form-check-label" for="ubytovani_pocet">Počet ubytování</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="vzdelani">
                        <label class="form-check-label" for="vzdelani">Vzdělání</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="nastroj">
                        <label class="form-check-label" for="nastroj">Nástroj</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="repertoir">
                        <label class="form-check-label" for="repertoir">Repertoár</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="student_zus_valtice_mikulov">
                        <label class="form-check-label" for="student_zus_valtice_mikulov">Student ZUŠ Valtice/Mikulov</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="strava">
                        <label class="form-check-label" for="strava">Strava</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="uzivatelska_poznamka">
                        <label class="form-check-label" for="uzivatelska_poznamka">Uživatelská poznámka</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="admin_poznamka">
                        <label class="form-check-label" for="admin_poznamka">Admin poznámka</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Atribut pro řazení</h2>
    <small class="text-muted">Výpis bude defaultně řazený podle příjmení. Pokud chcete seřadit účastníky podle jiného atributu, můžete ho vybrat zde. Druhotný klíč řazení bude vždy příjmení. Řazení probíhá vždy vzestupně.</small>
    <div class="row my-2">
        <div class="col-sm">
            <div>
                <select class="form-select" id="atribut_razeni">
                    <option value="prijmeni" selected>Příjmení</option>
                    <option value="jmeno">Jméno</option>
                    <option value="cas">Čas vyplnění přihlášky</option>
                    <option value="cas_registrace">Čas registrace</option>
                    <option value="vek">Věk</option>
                    <option value="finance_dne">Datum zaplacení</option>
                    <option value="finance_celkem">Finance - Celková částka</option>
                    <option value="finance_dar">Finance - Dar</option>
                    <option value="finance_mena">Finance - Měna</option>
                    <option value="finance_kategorie">Finance - Kategorie</option>
                    <option value="ssh_clen">SSH Člen</option>
                    <option value="ucast">Účast</option>
                    <option value="ubytovani">Ubytování</option>
                    <option value="student_zus_valtice_mikulov">Student ZUŠ Valtice/Mikulov</option>
                </select>
            </div>
        </div>
        <div class="col-sm-auto">
            <button type="button" class="custom_button" id="vytvorit_button">Vytvořit seznam</button>
        </div>
    </div>
</div>

<div id="loader" hidden>
    Načítám účastníky. Pokud to trvá déle, je to nejspíše kvůli tomu, že požadavek počítá kalkulace kažému účastníkovi.
</div>

<div id="druhy_krok" hidden>
    <button type="button" class="custom_button" id="ukazat_parametry">Ukázat parametry výběru</button>
    <hr>
    <button type="button" class="custom_button" id="excel_button">Stáhnout .xlsx</button>
    <button type="button" class="custom_button" id="pdf_button" value="whatever">Zobrazit pro export do .pdf</button>
    <p>
        Počet vybraných účastníků: <span id="pocet_ucastniku"></span>
    </p>
    <p>
        Jejich maily pro kopírování: <i>Může jich být méně než je vybraných účastníků, protože jsou odstraňovány duplikáty.</i><br>
        <code id="maily"></code>
    </p>
    <div id="parent_div"></div>
    <form method="post" id="form">
        <input hidden type="text" name="data" id="data">
        <input hidden type="text" name="ucel" id="ucel">
    </form>
</div>




<script type="module" src="{{url_for('static', filename='js/organizator/seznamy.js')}}"></script>

{% endblock %}