{% extends"cz_context.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seznam_uzivatelu_table.css')}}">
<h1>Generování seznamů</h1>
<hr>
<div id="prvni_krok">
    <p>
        Seznamy se generují v několika krocích:
        <ol>
            <li>Výběr množiny účtů</li>
            <li>Zvolení atribut k vypsání</li>
            <li>Vytvoření výpisu</li>
            <li>Možnosti exportu jako .xlsx nebo .pdf soubory.</li>
        </ol>
    </p>
    <h2> Výběr účtů</h2>
    <small class="text-muted">Mezi jednotlivými kategoriemi platí konjunkce. <i>Příklad: Vyber všechny účastníky, kteří chodí do třídy Roberta Huga a zároveň mají snídani na VŠ.</i></small>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Třída</h3>
                <small class="text-muted">Mezi jednotlivými třídami funguje poměr slučovací: Při vybrání dvou a více tříd budou vybráni všichni účastníci, kteří chodí alespoň do jedné z nich. <i>Příklad: vyber všechny takové účastníky, kteří chodí k Evě Káčerkové nebo k Luise Haugk. </i></small>
                <div id="checkboxy_trid">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="jakakoli_trida" checked>
                        <label class="form-check-label" for="jakakoli_trida">Jakákoli</label>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h3>Množina účtů</h3>
                <div>
                    <div class="form-radio">
                        <input class="form-radio-input" type="radio" id="interested" name="mnozina" checked>
                        <label class="form-radio-label" for="interested">Účastníci se zájmem o letošní ročník</label>
                    </div>
                    <div class="form-radio">
                        <input class="form-radio-input" type="radio" id="enrolled" name="mnozina">
                        <label class="form-radio-label" for="enrolled">Účastníci zapsaní do tříd</label>
                    </div>
                    <div class="form-radio">
                        <input class="form-radio-input" type="radio" id="passive" name="mnozina">
                        <label class="form-radio-label" for="passive">Pasivní účastníci</label>
                    </div>
                    <div class="form-radio">
                        <input class="form-radio-input" type="radio" id="all" name="mnozina">
                        <label class="form-radio-label" for="all">Všichni účastníci za všechny roky</label>
                    </div>
                    <div class="form-radio">
                        <input class="form-radio-input" type="radio" id="tutors" name="mnozina">
                        <label class="form-radio-label" for="tutors">Lektoři</label>
                    </div>
                </div>
                <h3>Ubytování</h3>
                <small class="text-muted">Vybráním tělocvičny i interánu budou vybráni všichni účastníci, kterým MLŠSH zařizuje ubytování.</small>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="jakekoli_ubytko" checked>
                        <label class="form-check-label" for="jakekoli_ubytko">Jakékoli</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gym">
                        <label class="form-check-label" for="gym">Tělocvična</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="vs">
                        <label class="form-check-label" for="vs">Internát VŠ</label>
                    </div>
                </div>
                <h3>Strava</h3>
                <small class="text-muted">Mezi jednotlivými možnostmi stravy funguje poměr slučovací: Při vybrání dvou a více možností stravy budou vybráni všichni účastníci, kteří využívají alespoň jednu z nich. <i>Například: vyber všechny účastníky, kteří mají snídani na VŠ nebo oběd na ZŠ.</i></small>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="jakakoli_strava" checked>
                        <label class="form-check-label" for="jakakoli_strava">Jakákoli</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="snidane_zs">
                        <label class="form-check-label" for="snidane_zs">Snídaně na ZŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="snidane_vs">
                        <label class="form-check-label" for="snidane_vs">Snídaně na VŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="obed_zs">
                        <label class="form-check-label" for="obed_zs">Oběd na ZŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="obed_vs">
                        <label class="form-check-label" for="obed_vs">Oběd na VŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="vecere_zs">
                        <label class="form-check-label" for="vecere_zs">Večeře na ZŠ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="vecere_vs">
                        <label class="form-check-label" for="vecere_vs">Večeře na VŠ</label>
                    </div>
                </div>
                <h3>Ostatní</h3>
                <small class="text-muted">Mezi jednotlivými pravidly platí konjunkce. <i>Příklad: Vyber všechny účastníky, kteří něco darovali a zároveň se ještě neregistrovali.</i></small>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="korekce">
                        <label class="form-check-label" for="korekce">Všichni, kdo mají jakoukoli finanční korekci</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="neregistrace">
                        <label class="form-check-label" for="neregistrace">Všichni, kdo se dosud neregistrovali</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="dar">
                        <label class="form-check-label" for="dar">Všichni, kdo darovali</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="poznamka">
                        <label class="form-check-label" for="poznamka">Všichni, kdo mají uživatelskou poznámku</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chybejici_udaje">
                        <label class="form-check-label" for="chybejici_udaje">Všichni, kdo:
                            <ul>
                                <li>mají zájem o tento ročník</li>
                                <li>jsou zapsaní v nějaké třídě nebo mají pasivní účast</li>
                                <li>chybí jim jeden z údajů: jméno, příjmení, e-mail, telefon, datum narození</li>
                                <li>Pokud je účet podřazený, kontroluje se pouze absence jména, příjmení a data narození.</li>
                            </ul>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chybejici_hlavni_trida">
                        <label class="form-check-label" for="chybejici_hlavni_trida">Všichni, kdo mají vedlejší třídu ale chybí zápis do hlavní</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Atributy k vypsání</h2>
    <small class="text-muted">Jméno a příjmení budou vypsány vždy.</small>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="checkboxy_udaju">
                    <!-- personal data -->
                    <h3>Osobní data</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="age">
                        <label class="form-check-label" for="age">Věk</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="date_of_birth">
                        <label class="form-check-label" for="date_of_birth">Datum narození</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="email">
                        <label class="form-check-label" for="email">Email</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="phone">
                        <label class="form-check-label" for="phone">Telefon</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="is_student">
                        <label class="form-check-label" for="is_student">Student</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="is_under_16">
                        <label class="form-check-label" for="is_under_16">Je pod 16 let?</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="passport_number">
                        <label class="form-check-label" for="passport_number">Číslo OP / pasu</label>
                    </div>
                    
                    <h3>Valtické informace</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="is_this_year_participant">
                        <label class="form-check-label" for="is_this_year_participant">Je letošním účastníkem</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="is_ssh_member">
                        <label class="form-check-label" for="is_ssh_member">Je členem SSH?</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="is_active_participant">
                        <label class="form-check-label" for="is_active_participant">Účast</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="is_student_of_partner_zus">
                        <label class="form-check-label" for="is_student_of_partner_zus">Je student ZUŠ Valtice/Mikulov</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="accomodation_type">
                        <label class="form-check-label" for="accomodation_type">Ubytování</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="accomodation_count">
                        <label class="form-check-label" for="accomodation_count">Počet ubytování</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="musical_education">
                        <label class="form-check-label" for="musical_education">Hudební vzdělání</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="musical_instrument">
                        <label class="form-check-label" for="musical_instrument">Hudební nástroj</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="repertoire">
                        <label class="form-check-label" for="repertoire">Repertoár</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="comment">
                        <label class="form-check-label" for="comment">Uživatelská poznámka</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="admin_comment">
                        <label class="form-check-label" for="admin_comment">Organizátorská poznámka</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="meals">
                        <label class="form-check-label" for="meals">Strava</label>
                    </div>

                    <h3>Třídy</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="primary_class">
                        <label class="form-check-label" for="primary_class">Hlavní třída</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="secondary_classes">
                        <label class="form-check-label" for="secondary_classes">Vedlejší třídy</label>
                    </div>

                    <h3>Časy</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="datetime_created">
                        <label class="form-check-label" for="datetime_created">Čas vytvoření účtu</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="datetime_class_pick">
                        <label class="form-check-label" for="datetime_class_pick">Čas výběru hlavní třídy</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="datetime_registered">
                        <label class="form-check-label" for="datetime_registered">Čas registrace ve Valticích</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="datetime_calculation_email">
                        <label class="form-check-label" for="datetime_calculation_email">Čas odeslání kalkulace</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_date_paid">
                        <label class="form-check-label" for="billing_date_paid">Datum zaplacení</label>
                    </div>

                    <h3>Finance</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_currency">
                        <label class="form-check-label" for="billing_currency">Měna</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_total">
                        <label class="form-check-label " for="billing_total">Celková částka</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_gift">
                        <label class="form-check-label" for="billing_gift">Dar</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_classes">
                        <label class="form-check-label" for="billing_classes">Kurzovné</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_meals">
                        <label class="form-check-label" for="billing_meals">Strava</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_accomodation">
                        <label class="form-check-label" for="billing_accomodation">Ubytování</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_correction">
                        <label class="form-check-label" for="billing_correction">Korekce kurzovné</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_correction_reason">
                        <label class="form-check-label" for="billing_correction_reason">Důvod korekce kurzovné</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_food_correction">
                        <label class="form-check-label" for="billing_food_correction">Korekce strava</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_food_correction_reason">
                        <label class="form-check-label" for="billing_food_correction_reason">Důvod korekce strava</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_accomodation_correction">
                        <label class="form-check-label" for="billing_accomodation_correction">Korekce ubytování</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billing_accomodation_correction_reason">
                        <label class="form-check-label" for="billing_accomodation_correction_reason">Důvod korekce ubytování</label>
                    </div>
                    
                    <h3>Přístupy</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="must_change_password_upon_login">
                        <label class="form-check-label" for="must_change_password_upon_login">Musí změnit heslo po přihlášení</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="confirmed_email">
                        <label class="form-check-label" for="confirmed_email">Má ověřený e-mail</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="is_locked">
                        <label class="form-check-label" for="is_locked">Má zamčené změny</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="parent">
                        <label class="form-check-label" for="parent">Nadřazený účet</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="children">
                        <label class="form-check-label" for="children">Podřazené účty</label>
                    </div>

                    <h3>Lektorské informace</h3>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tutor_travel">
                        <label class="form-check-label" for="tutor_travel">Způsob dopravy</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tutor_license_plate">
                        <label class="form-check-label" for="tutor_license_plate">Registrační značka vozidla</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tutor_arrival">
                        <label class="form-check-label" for="tutor_arrival">Příjezd</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tutor_departure">
                        <label class="form-check-label" for="tutor_departure">Odjezd</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tutor_accompanying_names">
                        <label class="form-check-label" for="tutor_accompanying_names">Jména doprovodu</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tutor_address">
                        <label class="form-check-label" for="tutor_address">Adresa</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tutor_bank_account">
                        <label class="form-check-label" for="tutor_bank_account">Bankovní účet</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Atribut pro řazení</h2>
    <small class="text-muted">Výpis bude defaultně řazený podle příjmení. Pokud chcete seřadit účastníky podle jiného atributu, můžete ho vybrat zde. Druhotný klíč řazení bude vždy příjmení. Řazení probíhá vždy vzestupně.</small>
    <div class="row my-2">
        <div class="col-sm">
            <div>
                <select class="form-select" id="atribut_razeni">
                    <option value="surname" selected>Příjmení</option>
                    <option value="name">Jméno</option>
                    <option value="datetime_created">Čas vytvoření účtu</option>
                    <option value="datetime_class_pick">Čas přihlášení do třídy</option>
                    <option value="datetime_registered">Čas registrace ve Valticích</option>
                    <option value="age">Věk</option>
                    <option value="billing_date_paid">Datum zaplacení</option>
                    <option value="billing_total">Finance - Celková částka</option>
                    <option value="billing_gift">Finance - Dar</option>
                    <option value="billing_currency">Finance - Měna</option>
                    <option value="is_ssh_member">SSH Člen</option>
                    <option value="is_active_participant">Účast</option>
                    <option value="accomodation_type">Ubytování</option>
                    <option value="is_student_of_partner_zus">Student ZUŠ Valtice/Mikulov</option>
                </select>
            </div>
        </div>
        <div class="col-sm-auto">
            <button type="button" class="custom_button" id="vytvorit_button">Vytvořit seznam</button>
        </div>
    </div>
</div>

<div id="loader" hidden>
    Načítám účastníky. Pokud to trvá déle, je to nejspíše kvůli tomu, že požadavek počítá kalkulace každému účastníkovi.
</div>

<div id="druhy_krok" hidden>
    <button type="button" class="custom_button" id="ukazat_parametry">Ukázat parametry výběru</button>
    <hr>
    <button type="button" class="custom_button" id="excel_button">Stáhnout .xlsx</button>
    <button type="button" class="custom_button" id="pdf_button" value="whatever">Zobrazit pro export do .pdf</button>
    <p>
        Počet vybraných účtů: <span id="pocet_ucastniku"></span>
    </p>
    <p>
        Jejich maily pro kopírování: <i>Může jich být méně než je vybraných účtů, protože jsou odstraňovány duplikáty.</i><br>
        <code id="maily"></code>
    </p>
    <div id="parent_div"></div>
    <form method="post" id="form">
        <input hidden type="text" name="data" id="data">
        <input hidden type="text" name="ucel" id="ucel">
    </form>
</div>




<script type="module" src="{{url_for('static', filename='js/organizator/seznamy.js')}}"></script>

{% endblock %}