{% extends"cz_context.html" %}
{% block content %}
<input hidden id="id_getter" value="{{id}}"/>
<h1>Úprava rolí organizátora {{email}}</h1>
<button class="custom_button" id="save_roles_button" type="button">Uložit role</button>

<div id="check_div" class="my-2">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="tutor" value="tutor">
        <label class="form-check-label" for="tutor">Lektor</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="organiser" value="organiser">
        <label class="form-check-label" for="organiser">Organizátor</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="editor" value="editor">
        <label class="form-check-label" for="editor">Editor</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="admin" value="admin">
        <label class="form-check-label" for="admin">Admin</label>
    </div>
</div>


<form method="post" id="form">
    <input hidden id="result" name="nove_role"/>
</form>


<script type="module" src="{{url_for('static', filename='js/organizator/udelit_role.js')}}"></script>

{% endblock %}