{% extends"cz_context.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seznam_uzivatelu_table.css')}}">
<input hidden id="id_getter" value="{{id}}"/>
<h1>Úprava třídy <span id="name_title"></span></h1>
<hr>
<form method="post">
    <button type="submit" class="custom_button" name="zpet" value="whatever">Zpět na účastníky</button>
    <button type="submit" class="custom_button" name="save" value="whatever">Uložit změny</button>
    <button type="button" class="btn btn-danger" id="delete_button">Smazat třídu</button>
    <hr>
    <div class="container my-2">
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Lektor</div>
            <div class="col">
                <select class="form-control" id="tutor_id" name="tutor_id">
                    <option value="-">-</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Krátký název česky</div>
            <div class="col">
                <input type="text" class="form-control" id="short_name_cz" name="short_name_cz">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Úplný název česky</div>
            <div class="col">
                <input type="text" class="form-control" id="full_name_cz" name="full_name_cz">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Krátký název anglicky</div>
            <div class="col">
                <input type="text" class="form-control" id="short_name_en" name="short_name_en">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Úplný název anglicky</div>
            <div class="col">
                <input type="text" class="form-control" id="full_name_en" name="full_name_en">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Má třída maximální kapacitu?</div>
            <div class="col">
                <select class="form-control" id="has_capacity" name="has_capacity">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1" id="capacity_row">
            <div class="col-3 d-flex align-items-center">Kapacita</div>
            <div class="col">
                <input type="number" class="form-control" id="capacity" name="capacity">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Věková skupina</div>
            <div class="col">
                <select class="form-control" id="age_group" name="age_group">
                    <option value="child">Pro děti do 15 let včetně</option>
                    <option value="adult">Pro účastníky od 16 let</option>
                    <option value="both">Smíšená - pro děti i dospělé</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Jak se platí jako druhá třída?</div>
            <div class="col">
                <select class="form-control" id="secondary_billing_behavior" name="secondary_billing_behavior">
                    <option value="full">Plně placená</option>
                    <option value="ensemble">Placená jako komorní a ansámblová</option>
                    <option value="free">Zdarma</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-3 d-flex align-items-center">Je časově exkluzivní?</div>
            <div class="col">
                <select class="form-control" id="is_time_exclusive" name="is_time_exclusive">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
    </div> 
</form>
Manuální zapsání účastníků do třídy je možné z detailu jejich účtu.
<form method="post" id="delete_form">
    <input type="hidden" name="delete" value="whatever">
</form>


<script type="module" src="{{url_for('static', filename='js/organizator/uprava_tridy.js')}}"></script>

{% endblock %}
