{% extends"guest/cz_context.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/seznam_uzivatelu_table.css')}}">
<input hidden id="id_getter" value="{{id}}"/>
<h1>Úprava účastníka <span id="full_name"></span></h1>
<hr>
<form method="post">
    <button type="submit" class="custom_button" name="save" value="whatever">Uložit změny</button>
    <button type="submit" class="custom_button" name="zpet" value="whatever">Zpět na detail</button>
    <button type="button" class="btn btn-danger" id="delete_button">Smazat účastníka</button>
    <hr>
    <div class="container my-2">
        <h2>Osobní informace</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Jméno</div>
            <div class="col">
                <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Příjmení</div>
            <div class="col">
                <input type="text" class="form-control" id="surname" name="surname">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Email</div>
            <div class="col">
                <input type="email" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Telefon</div>
            <div class="col">
                <input type="text" class="form-control" id="phone" name="phone">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Student</div>
            <div class="col">
                <select class="form-control" id="is_student" name="is_student">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <hr>
        <h2>Valtické informace</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Člen SSH</div>
            <div class="col">
                <select class="form-control" id="is_ssh_member" name="is_ssh_member">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Účast</div>
            <div class="col">
                <select class="form-control" id="is_active_participant" name="is_active_participant">
                    <option value="active">aktivní</option>
                    <option value="passive">pasivní</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Student ZUŠ Valtice/Mikulov</div>
            <div class="col">
                <select class="form-control" id="is_student_of_partner_zus" name="is_student_of_partner_zus">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Čas registrace ve Valticích</div>
            <div class="col-auto d-flex align-items-center" id="datetime_registered">
            </div>
            <div class="col-auto d-flex align-items-center">
                <button type="submit" class="custom_button" name="zrusit_registraci" value="whatever" id="zrusit_registraci_button" hidden>Zrušit registraci</button>
                <button type="submit" class="custom_button" name="registrovat_nyni" value="whatever" id="registrovat_button" hidden>Zaregistrovat teď</button>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Ubytování, počet</div>
            <div class="col-4">
                <select class="form-control" id="accomodation_type" name="accomodation_type">
                    <option value="own">Nemá zájem</option>
                    <option value="gym">Tělocvična</option>
                    <option value="vs">Internát vinařské školy</option>
                </select>
            </div>
            <div class="col">
                <input type="number" step="0.5" class="form-control" id="accomodation_count" name="accomodation_count">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Hudební vzdělání</div>
            <div class="col">
                <input type="text" class="form-control" id="musical_education" name="musical_education">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Nástroj</div>
            <div class="col">
                <input type="text" class="form-control" id="musical_instrument" name="musical_instrument">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Repertoir</div>
            <div class="col">
                <input type="text" class="form-control" id="repertoire" name="repertoire">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Uživatelská poznámka</div>
            <div class="col">
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Organizátorská poznámka</div>
            <div class="col">
                <textarea class="form-control" id="admin_comment" name="admin_comment" rows="3"></textarea>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Hlavní třída - volba 1</div>
            <div class="col">
                <select class="form-control" id="main_class_id_priority_1" name="main_class_id_priority_1">
                    <option value="-">-</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Hlavní třída - volba 2</div>
            <div class="col">
                <select class="form-control" id="main_class_id_priority_2" name="main_class_id_priority_2">
                    <option value="-">-</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Vedlejší třída</div>
            <div class="col">
                <select class="form-control" id="secondary_class_id" name="secondary_class_id">
                    <option value="-">-</option>
                </select>
            </div>
        </div>
        <hr>
        <h2>Finance</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Měna</div>
            <div class="col">
                <select class="form-control" id="billing_currency" name="billing_currency">
                    <option value="czk">CZK</option>
                    <option value="eur">EUR</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Email pro odeslání kalkulace</div>
            <div class="col">
                <input type="email" class="form-control" id="billing_email" name="billing_email">
            </div>
        </div>
        <small>Pokud je e-mail ponechaný prázdný, bude použit mail účtu.</small>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Kategorie</div>
            <div class="col">
                <select class="form-control" id="billing_age" name="billing_age">
                    <option value="child">Dítě</option>
                    <option value="youth">Mládež do 15 let</option>
                    <option value="adult">Dospělý</option>
                </select>
            </div>
        </div>
        <small>Ovlivňuje také třídy, které jsou na výběr.</small>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Datum zaplacení</div>
            <div class="col">
                <input type="date" class="form-control" id="billing_date_paid" name="billing_date_paid">
            </div>
            <div class="col-auto d-flex align-items-center">
                <small>Pokud je datum zobrazeno šedivě, žádné datum platby ještě uložené není.</small>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Finanční dar</div>
            <div class="col">
                <input type="number" class="form-control" id="billing_gift" name="billing_gift">
            </div>
        </div>
        <div class="row my-1">
            <div class="col">
                <small>Záporná korekce značí slevu, kladná značí vyšší celkovou částku.</small>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Korekce kurzovné, důvod</div>
            <div class="col-2">
                <input type="number" class="form-control" id="billing_correction" name="billing_correction">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="billing_correction_reason" name="billing_correction_reason">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Korekce strava, důvod</div>
            <div class="col-2">
                <input type="number" class="form-control" id="billing_food_correction" name="billing_food_correction">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="billing_food_correction_reason" name="billing_food_correction_reason">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Korekce ubytování, důvod</div>
            <div class="col-2">
                <input type="number" class="form-control" id="billing_accomodation_correction" name="billing_accomodation_correction">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="billing_accomodation_correction_reason" name="billing_accomodation_correction_reason">
            </div>
        </div>

        <hr>
        <h2>Lektorské informace</h2>
        <div id="tutor_yes" hidden>
            <div class="row my-1" id="tutor_yes">
                <div class="col-2 d-flex align-items-center">Způsob dopravy</div>
                <div class="col">
                    <select class="form-control" id="tutor_travel" name="tutor_travel">
                        <option value="own">vlastní</option>
                        <option value="public">veřejná</option>
                    </select>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Registrační značka vozidla</div>
                <div class="col">
                    <input type="text" class="form-control" id="tutor_license_plate" name="tutor_license_plate">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Příjezd</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_arrival" name="tutor_arrival">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Odjezd</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_departure" name="tutor_departure">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Jména doprovodu</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_accompanying_names" name="tutor_accompanying_names">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Adresa</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_address" name="tutor_address">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Datum narození</div>
                <div class="col">
                <input type="date" class="form-control" id="tutor_date_of_birth" name="tutor_date_of_birth">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Číslo bankovního účtu</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_bank_account" name="tutor_bank_account">
                </div>
            </div>
        </div>
        <p hidden id="tutor_no">
            s rolí lektora. <a class="link" href="{{url_for('org_views.udelit_role', id=id)}}">Udělit role</a> tomuto uživateli.
        </p>

        <hr>
        <h2>Přístup k účtu</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Musí si změnit heslo při dalším přihlášení</div>
            <div class="col">
                <select class="form-control" id="must_change_password_upon_login" name="must_change_password_upon_login">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Má ověřený e-mail</div>
            <div class="col">
                <select class="form-control" id="confirmed_email" name="confirmed_email">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Nové heslo</div>
            <div class="col">
                <input type="text" class="form-control" id="new_password" name="new_password">
            </div>
        </div>
        <small>Po změně hesla ho uživatel jednou použije a bude vyzván k nastavení svého hesla. Pokud mu má Vámi zadané heslo zůstat, změnte po změně hesla tento fakt o několik řádků výše.</small>
        <div class="row my-1" id="parent_no" hidden>
            <div class="col-2 d-flex align-items-center">Připojit k rodičovskému účtu</div>
            <div class="col">
                <input type="email" class="form-control" id="parent_email" name="parent_email" placeholder="e-mail rodiče">
            </div>
        </div>
        <div class="row my-1" id="parent_yes" hidden>
            <div class="col-2 d-flex align-items-center">Rodič účtu</div>
            <div class="col-2 d-flex align-items-center" id="parent_name"></div>
            <div class="col">
                <button type="submit" class="custom_button" name="remove_parent" value="whatever">Odebrat rodiče</button>
            </div>
        </div>
        <small>Přidělení a odebrání dítěte účtu proveďte z účtu dítěte.</small>
    </div>

</form>
<form method="post" id="delete_form">
    <input type="hidden" name="delete" value="whatever">
</form>
<script type="module" src="{{url_for('static', filename='js/organizator/uprava_ucastnika.js')}}"></script>

{% endblock %}
