{%extends"cz_context.html"%}
{%block content%}

<form method="post" id="form">
	<h1>Zadejte nové heslo:</h1>
	<hr>
	<div class="row my-1">
		<div class="col-3">
			Nové heslo:
		</div>
		<div class="col">
			<input type="password" name="password" id="password" class="form-control"/>
		</div>
	</div>
	<div class="row my-1">
		<div class="col-3">
			Heslo pro kontrolu:
		</div>
		<div class="col">
			<input type="password" name="password_confirm" id="password_confirm" class="form-control"/>
		</div>
	</div>
</div>
<button type="button" id="btn" class="custom_button">Změnit</button>
<hr>
<div>
	<p>
		Jak vypadá dobré heslo?
		<ul>
			<li>Mělo by být delší, než 8 znaků.</li>
			<li>Mělo by obsahovat nějaký speciální znak jiný, než písmena nebo čísla.</li>
			<li>Mělo by být unikátní.</li>
			<li>Pokud používáte správce hesel, není nutné, aby bylo lidsky zapamatovatelné.</li>
		</ul>
		Heslo jde vždy obnovit, pokud ho zapomenete.
	</p>
	<div class="d-flex justify-content-center">
		<img class="xkcd" src="https://imgs.xkcd.com/comics/password_strength.png" alt="xkcd password strength">
	</div>
</form>
<script type="module" src="{{url_for('static',filename='js/auth/cz_reset_password_validation.js')}}"></script>
{%endblock%}