{% extends"en_context.html" %}

{% block content %}
<h1>Choose a new password</h1>
<hr>
<p>
    <ul>
        <li>Your password has been created by the organizers. We strongly recommend you to choose a new one.</li>
        <li>If you still wish to keep this password, it is possible. You can change the password yourself at any time later.</li>
    </ul>
    <form method="post">
        <div class="row">
            <div class="col-sm-2 d-flex align-items-center">
                <label for="password">New password:</label>
            </div>
            <div class="col">
                <input type="password" name="password" id="password" class="form-control my-2" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex align-items-center">
                <label for="confirm">Confirm password:</label>
            </div>
            <div class="col">
                <input type="password" name="confirm" id="confirm" class="form-control my-2" required>
            </div>
        </div>
        <button type="submit" name="change" value="whatever" class="custom_button">Change password</button>
        <hr>
    </form>
    <form method="post">
        <button type="submit" name="keep" value="whatever" class="custom_button">Keep current password</button>
        <hr>
    </form>
    <div>
        <p>
            What does a good password look like?
            <ul>
                <li>It should be longer than 8 characters.</li>
                <li>It should contain some special character other than letters or numbers.</li>
                <li>It should be unique.</li>
                <li>If you use a password manager, it doesn't have to be memorable by humans.</li>
            </ul>
            You can always recover your password if you forget it.
        </p>
        <div class="d-flex justify-content-center">
            <img class="xkcd" src="https://imgs.xkcd.com/comics/password_strength.png" alt="xkcd password strength">
        </div>
	</div>
</p>
{% endblock %}
