{% extends"en_context.html" %}
{%block content%}

<form method="post">
	<h1> Log-in </h1>
	<hr>	
	<div class="container">
		<div class="row my-1">
			<div class="col-sm-3">
				Email
			</div>
			<div class="col">
				<input type="text" name="email" id="email" maxlength="100" class="form-control"/>
			</div>
		</div>
		<div class="row my-1">
			<div class="col-sm-3">
				Password
			</div>
			<div class="col">
				<input type="password" name="password" id="password" maxlength="300" class="form-control"/>	
			</div>
		</div>
		<div class="row my-1">
			<div class="col-sm-3">
				<button type="submit" class="custom_button">Log-in</button>
			</div>
			<div class="col-auto">
				<small>
					Forgot password? <a class="link" href="{{url_for('auth_views.en_request_reset')}}">Reset it here</a>.
				</small>
			</div>
		</div>
	</div>
</form>
{%endblock%}