{% extends"en_context.html" %}
{% block content %}
    <h1>ISSEM registration - 16 years old or more</h1>
    <hr>
    <form method="post" id="form">
        <div class="row my-1">
            <div class="col-sm-3">
                E-mail
            </div>
            <div class="col">
                <input type="email" name="email" maxlength="100" class="form-control"/>
            </div>
        </div>
        <small>We will need to verify your email in the next step.</small>
        <div class="row my-1">
            <div class="col-sm-3">
                Password
            </div>
            <div class="col">
                <input type="password" name="password" minlength="6" maxlength="300" class="form-control"/>	
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3">
                Confirm password
            </div>
            <div class="col">
                <input type="password" name="confirm" minlength="6" maxlength="300" class="form-control"/>	
            </div>
        </div>
        <div class="d-flex justify-content-center my-2">
            <div class="g-recaptcha" data-sitekey="6LdwoVYrAAAAAHPoGZwq_0M53JkBRfvBbYxGPT1M" data-action="LOGIN"></div>
            <button type="submit" class="custom_button" id="create_account_button">Create account</button>
        </div>
    </form>
    <hr>
    <p>
        You can always reset your password if you forget it.
    </p>
    <p>
        How does a good password look like?
        <ul>
            <li>It should be longer than 8 characters.</li>
            <li>It should contain some special character other than letters or numbers.</li>
            <li>It should be unique.</li>
            <li>If you use a password manager, it doesn't need to be humanly memorable.</li>
        </ul>
    </p>
    <div class="d-flex justify-content-center">
        <img class="xkcd" src="https://imgs.xkcd.com/comics/password_strength.png" alt="xkcd password strength">
    </div>
    <script type="module" src="{{url_for('static', filename='js/auth/register_adult.js')}}"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>

{% endblock %}