{%extends"en_context.html"%}
{%block content%}

<form method="post" id="form">
	<h1>Enter new password</h1>
	<hr>
	<div class="row my-1">
		<div class="col-3">
			New password:
		</div>
		<div class="col">
			<input type="password" name="password" id="password" class="form-control"/>
		</div>
	</div>
	<div class="row my-1">
		<div class="col-3">
			Password for confirmation:
		</div>
		<div class="col">
			<input type="password" name="password_confirm" id="password_confirm" class="form-control"/>
		</div>
	</div>
	<button type="button" id="btn" class="custom_button">Change password</button>	
</form>
<hr>
<p>
	What does a good password look like?
	<ul>
		<li>It should be longer than 8 characters.</li>
		<li>It should contain some special character other than letters or numbers.</li>
		<li>It should be unique.</li>
		<li>If you use a password manager, it doesn't have to be memorable by humans.</li>
	</ul>
	You can always recover your password if you forget it.
</p>
<div class="d-flex justify-content-center">
	<img class="xkcd" src="https://imgs.xkcd.com/comics/password_strength.png" alt="xkcd password strength">
</div>
<script type="module" src="{{url_for('static',filename='js/auth/en_reset_password_validation.js')}}"></script>
{%endblock%}