{%extends "guest/cz_footer.html"%}

{%block content%}
    <div class="d-flex justify-content-center">
        <h1 class="my-2">Přihláškový systém pro MLŠSH Valtice</h1>
    </div>
    {% if faze == "pred" %}
        <div>
            Přihlášky na Valtickou mezinárodní letní školu staré hudby jsou zatím uzavřeny a budou otevřeny {{datetime_zacatku}}. Vstup do přihlášek bude na této stránce.
            <br>
            TODO: bude co ucastnik to prihlaska? co si maj pripravit predem?
        </div>
    {% elif faze == "pri" %}
        <div>
            <a href="{{url_for('guest_views.prihlaska')}}" class="btn btn-primary">Vytvořit novou přihlášku</a>
        </div>
    {% else %}
        <div>
            Přihlášky na Valtickou mezinárodní letní školu staré hudby byly uzavřeny. Pokud máte zájem o účast, kontaktujte nás. TODO odkaz na kontakty
        </div>
    {% endif %}
{%endblock%}