{%extends"guest/cz_context.html"%}

{%block content%}
    <h1>O přihláškovém systému</h1>
    <ul>
        <li>Přihlašování na MLŠSH bylo vždy velmi stresové, protože účastníkům šlo o rychlé vyplnění formuláře a o získání místa ve třídě.</li>
        <li>Tento systém odstraňuje tuto stresovou situaci tím, že umožňuje zadat osobní informace kdykoli v předstihu a v čase otevření přihlášek do tříd se může účastník zaměřit pouze na tuto jednu věc.</li>
    </ul>
    <hr>
    <h1>Jak fungují dětské účty?</h1>
    <ul>
        <li>Každý účastník si zakládá vlastní účet. Počítáme jistě s tím, že účastníci dětských tříd se o své účty dost dobře starat nemohou a účty jim tedy zakládají a spravují odpovědné osoby.</li>
        <li>Dětské účty účastníků pod 15 let je tedy nuté propojit s dospělým účtem. Při registraci k tomu budete vyzváni.</li>
        <li>Propojený účet je možné spravovat z hlavního účtu.</li>
        <li>Propojit je možné i účty, které nejsou určené pro děti, například pro případ, kdy jeden člen domácnosti spravuje valtické přihlášky pro celou domácnost.</li>
    </ul>
    <hr>
    <h1>O cookies na této stránce</h1>
    Přihláškový systém ve své veřejné sekci nevyužívá žádné cookies.<br>
    V organizátorské sekci jsou využívány nezbytné cookies pro funkčnost systému.
    
    <hr>
    <h1>Zpracování osobních údajů</h1>
    TODO
    
    <hr>
    <h1>Zdroj ikon</h1>
    Ikony jazyků byly převzaty z <a class="link" href="https://www.flaticon.com/free-icons/czech-republic" title="czech republic icons" target="_blank">Flaticon</a>.
{%endblock%}