{%extends"guest/cz_context.html"%}

{%block content%}
    <h1>O cookies na této stránce</h1>
    Přihláškový systém ve své veřejné sekci nevyužívá žádné cookies.<br>
    V organizátorské sekci jsou využívány nezbytné cookies pro funkčnost systému.
    
    <hr>
    <h1>Zpracování osobních údajů</h1>
    TODO
    
    <hr>
    <h1>Zdroj ikon</h1>
    Ikony jazyků byly převzaty z <a href="https://www.flaticon.com/free-icons/czech-republic" title="czech republic icons" target="_blank">Flaticon</a>.
{%endblock%}