{%extends"cz_context.html"%}

{%block content%}
    <h1>O přihláškovém systému</h1>
    <ul>
        <li>Přihlašování na MLŠSH bylo vždy velmi stresové, protože účastníkům šlo o rychlé vyplnění formuláře a o získání místa ve třídě.</li>
        <li>Tento systém odstraňuje tuto stresovou situaci tím, že umožňuje zadat osobní informace kdykoli v předstihu a v čase otevření přihlášek do tříd se může účastník zaměřit pouze na tuto jednu věc.</li>
    </ul>
    <hr>
    <h1>Jak fungují dětské účty?</h1>
    <ul>
        <li>Každý účastník si zakládá vlastní účet. Počítáme jistě s tím, že účastníci dětských tříd se o své účty dost dobře starat nemohou a účty jim tedy zakládají a spravují odpovědné osoby.</li>
        <li>Dětské účty účastníků pod 15 let je tedy nuté propojit s dospělým účtem. Při registraci k tomu budete vyzváni.</li>
        <li>Pokud se dospělá osoba, která spravuje dětský účet, neplánuje účastnit MLŠSH, je vyžadována alespoň tzv. pasivní účast.</li>
        <li>Propojený účet je možné spravovat z hlavního účtu.</li>
        <li>Propojit je možné i účty, které nejsou určené pro děti, například pro případ, kdy jeden člen domácnosti spravuje valtické přihlášky pro celou domácnost.</li>
    </ul>
    <hr>
    <h1 id="classes" style="padding-top:170px; margin-top: -170px;">Jak funguje přihlašování do tříd?</h1>
    <ul>
        <li>Přihlašování do tříd probíhá ve dvou kolech: Hlavní a vedlejší třídy.</li>
        <li>Při otevření prvního kola přihlašování si účastníci vybírají hlavní třídu. Po několika dnech bude spuštěno kolo druhé, kde se účastníci mohou ucházet o vedlejší účast v některých třídách, pokud to kapacita umožňuje.</li>
        <li>Některé třídy nemají maximální kapacitu.</li>
        <li>Některé třídy probíhají v časech, které nekolidují s žádnou jinou třídou. Takovéto třídy si může jako bonus zapsat každý.</li>
        <li>Některé třídy jsou zdarma, jsou-li zapsány jako vedlejší třída.</li>
        <li>Některé třídy jsou pouze pro děti a mládež, některé třídy jsou smíšené pro mládež i dospělé.</li>
        <li>Dětské účty si vedlejší třídu nevybírají, navštěvují pouze svou hlavní.</li>
    </ul>
    <hr>
    <h1>O cookies na této stránce</h1>
    Přihláškový systém ve své veřejné sekci nevyužívá žádné cookies.<br>
    Po přihlášení jsou využívány nezbytné cookies pro funkčnost systému.
    
    <hr>
    <h1>Zpracování osobních údajů</h1>
    <ul>
        <li>Osobní údaje účastníků jsou zpracovávány v souladu s platnými právními předpisy.</li>
        <li>Účastník souhlasí se zpracováním osobních údajů pro účely organizace a administrace MLŠSH.</li>
        <li>Účastník má právo na přístup k osobním údajům, jejich opravu nebo výmaz.</li>
        <li>Účastník má právo vznést námitku proti zpracování osobních údajů.</li>
    </ul>
    
    <hr>
    <h1>Zdroj ikon</h1>
    Ikony jazyků byly převzaty z <a class="link" href="https://www.flaticon.com/free-icons/czech-republic" title="czech republic icons" target="_blank">Flaticon</a>.
    <hr>
    <div class="text-center"> 
        <p>&copy; {{year}} S ❤️ vytvořila <a class="link" target="_blank" href="http://ssh.early-music.cz">Společnost pro starou hudbu</a> a <a class="link" target="_blank" href="https://www.piipovostranky.cz">Josef Lát</a>.</p>
    </div>
{%endblock%}