{% extends"index.html" %}


{% block logo %}
    <div class="logo">
        <a href="https://www.early-music.cz/en/about-issem/current-year/">
            <img src="{{url_for('static', filename='img/logo_en.png')}}" alt="Valtické logo">
        </a>
    </div>
{% endblock %}


{% block flag %}
    <a href="{{url_for('guest_views.cz_dashboard')}}" class="flag">
        <img src="{{url_for('static', filename='img/ikonky/czech-republic.png')}}" alt="CZ">
    </a>
{% endblock %}


{% block left_nav %}
    {% if "tutor" in roles%} 
        <a class="navbar_link" href="{{url_for('org_views.en_tutor')}}">Tutor</a>
    {% endif %}
{% endblock %}


{% block right_nav %}
    {% if "prihlasen" in roles %}
        <a href="{{url_for('user_views.en_account')}}" class="navbar_link">Account</a>
        <a href="{{url_for('auth_views.en_logout')}}" class="navbar_link">Log out</a>
    {% else %}
        <a class="navbar_link" href="{{url_for('auth_views.en_login')}}">Log in</a><br>
        <a class="navbar_link" href="{{url_for('auth_views.en_register')}}">Register</a>
    {%  endif %}
{% endblock %}


{% block footer %}
    Found a bug? <a class="link" target="_blank" href="https://t.me/piipecek">Contact the organisers</a><br>
    <a class="link" href="{{url_for('guest_views.en_info')}}">About cookies and data protection</a><br>
    <a class="link" href="{{url_for('guest_views.en_dashboard')}}">Home</a>
{% endblock %}