{%extends"en_context.html"%}

{%block content%}
    <h1>About cookies on this site</h1>
    The application system does not use any cookies in its public section.<br>
    In the organizer section, necessary cookies are used for the system to function.
    <hr>
    <h1>How do children accounts work</h1>
    <ul>
        <li>Each participant creates their own account. We certainly assume that participants in children's classes cannot take good care of their accounts, and therefore responsible persons create and manage the accounts for them.</li>
        <li>Children's accounts of participants under 15 years of age must be linked to an adult account. You will be prompted to do this during registration.</li>
        <li>If the adult who manages the child's account does not plan to participate in MLŠSH, at least so-called passive participation is required.</li>
        <li>The linked account can be managed from the main account.</li>
        <li>It is also possible to link accounts that are not intended for children, for example in case one member of the household manages Valtice applications for the entire household.</li>
    </ul>
    <hr>
    <h1 id="classes" style="padding-top:170px; margin-top: -170px;">How does class registration work?</h1>
    <ul>
        <li>Registration for classes takes place in two rounds: Main and secondary classes.</li>
        <li>When the first round of registration opens, participants choose the main class. After a few days, the second round will be launched, where participants can apply for secondary participation in some classes, if capacity allows.</li>
        <li>Some classes do not have a maximum capacity.</li>
        <li>Some classes take place at times that do not conflict with any other class. Such classes can be signed up for as a bonus by anyone.</li>
        <li>Some classes are free if registered as a secondary class.</li>
        <li>Some classes are only for children and youth, some classes are mixed for youth and adults.</li>
        <li>Children's accounts do not choose a secondary class, they only attend their main one.</li>
    </ul>
    <h1>Data protection</h1>
    <ul>
        <li>Personal data of participants are processed in accordance with applicable legal regulations.</li>
        <li>The participant agrees to the processing of personal data for the purposes of organizing and administering MLŠSH.</li>
        <li>The participant has the right to access personal data, their correction or deletion.</li>
        <li>The participant has the right to object to the processing of personal data.</li>
    </ul>

    <hr>
    <h1>Source of icons</h1>
    Flag icons were taken from <a class="link" href="https://www.flaticon.com/free-icons/czech-republic" title="czech republic icons" target="_blank">Flaticon</a>.
    <hr>
    <div class="text-center"> 
        <p>&copy; {{year}} Made with ❤️ by <a class="link" target="_blank" href="http://ssh.early-music.cz">Early music society</a> and <a class="link" target="_blank" href="https://www.piipovostranky.cz">Josef Lát</a>.</p>
    </div>

{%endblock%}