{%extends"en_context.html"%}

{%block content%}
    <h1>About cookies on this site</h1>
    The application system does not use any cookies in its public section.<br>
    In the organizer section, necessary cookies are used for the system to function.

    <hr>
    <h1>Data protection</h1>
    TODO

    <hr>
    <h1>Source of icons</h1>
    Flag icons were taken from <a class="link" href="https://www.flaticon.com/free-icons/czech-republic" title="czech republic icons" target="_blank">Flaticon</a>.

{%endblock%}