{%extends"en_context.html"%}

{%block content%}
    <h1>About cookies on this site</h1>
    The application system does not use any cookies in its public section.<br>
    In the organizer section, necessary cookies are used for the system to function.

    <hr>
    <h1>Data protection</h1>
    <ul>
        <li>Personal data of participants are processed in accordance with applicable legal regulations.</li>
        <li>The participant agrees to the processing of personal data for the purposes of organizing and administering MLŠSH.</li>
        <li>The participant has the right to access personal data, their correction or deletion.</li>
        <li>The participant has the right to object to the processing of personal data.</li>
    </ul>

    <hr>
    <h1>Source of icons</h1>
    Flag icons were taken from <a class="link" href="https://www.flaticon.com/free-icons/czech-republic" title="czech republic icons" target="_blank">Flaticon</a>.

{%endblock%}