.logo{
    position: absolute;
    z-index: 6;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo a img {
    height: 132px;
}

.valtce_header {
    position:fixed;
    top:0;
    z-index: 998;
    width: 100%;
    left: 0;
    font-family: 'Oswald', sans-serif;
    border-bottom: 3px solid rgb(255,245,235);
}
.hlavicka_tmava{
    background-color: rgb(180, 130, 148);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hlavicka_svetla{
    background-color: rgb(209, 138, 154);
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
}

.navbar_wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.link_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 2rem;
    padding-left: 2rem;
}

.navbar_link{
    text-transform: uppercase;
    color: rgb(255,245,235);
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navbar_link_small{
    font-size: 1rem;
}

.navbar_link:hover {
    color: rgb(255,245,235);
}

.navbar_link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255,245,235);
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar_link:hover::after {
    width: 100%;
    left: 0;
}

.flag_wrapper{
    width: 70%;
    padding-right: 2rem;
    display: flex;
    flex-direction: row-reverse;
}

.flag img{
    height: 25px;
}

.hlavicka_org{
    background-color: rgb(180, 130, 148);
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
}

.nav_toggle_icon svg{
    fill: rgb(255,245,235);
}
.nav_toggle{
    display: none;
}
.nav_toggle_icon{
    display: none;
}
.nav_toggle_menu_wrapper{
    display: none;
}
.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 7;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease-out;
}

@media (max-width: 1400px) {
    .navbar_wrapper {
        width: 80%;
    }
    .flag_wrapper {
        width: 80%;
    }
}

@media (max-width:1080px) {
    .navbar_wrapper {
        width: 90%;
    }
    .link_wrapper {
        gap: 10px;
    }
    .flag_wrapper {
        width: 90%;
    }
    .link_wrapper{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media (max-width: 800px) {
    .navbar_wrapper_admin {
        position: fixed;
        top: 0;
        right: -60%;
        width: 60%;
        height: 100%;
        z-index: 10;
        background-color: rgb(180, 130, 148);
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 2rem;
        transition: right 0.6s ease-out;
        border-left: 3px solid rgb(255,245,235);
    }

    .link_wrapper{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 10px;
    }
    .nav_toggle_icon{
        display: block;
    }
    .nav_toggle_menu_wrapper{
        display: flex;
        width: 90%;
        justify-content: end;
        padding-right: 2rem;
    }
    .nav_toggle:checked ~ .navbar_wrapper_admin {
        right: 0;
    }
    .nav_toggle:checked ~ .overlay {
        pointer-events: all;
        background-color: rgba(0,0,0,0.5);
    }

}
