body {
    background-color: rgb(103,125, 171) !important;
    font-family: 'Noto Serif', serif !important;
}
header{
    background-color: #99D5EC;
}

.alert{
    width: 100%;
    border: 1px solid orange;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-bottom: 0 !important;
}

.alertcolor-info {
    background-color: rgb(253, 235, 138  );
}
.alertcolor-error  {
    background-color: rgb(255, 121, 121);
}
.alertcolor-success {
    background-color: rgb(138, 253, 138  );
}


.link{
    color:darkblue;
}
.panel-link{
    min-height: 8rem;
    background-color: rgb(209, 138, 154);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: rgb(255,245,235);
    text-decoration: none;
    width: 100%;
    border: 2px solid rgb(209, 138, 154);
}
.panel-link:hover{
    background-color: rgb(255,245,235);
    color:rgb(209, 138, 154);
}
.custom_button{
    background-color: rgb(209, 138, 154);
    border: 2px solid rgb(209, 138, 154);
    color: rgb(255,245,235);
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-decoration: none;
    border-radius: 5px;
}
.custom_button:hover{
    background-color: rgb(180, 130, 148);
    border: 2px solid rgb(180, 130, 148);
    color: rgb(255,245,235);
}

.custom_button_narrow{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.tooltip1 {
    position: relative;
}
  
.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: auto;
    min-width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: auto;
    margin-left: -60px;
}
  
  .tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

.jmeno-a{
    text-decoration: none !important;
    color: black;
}

.trida-a{
    text-decoration: none !important;
    color: black;
}

.main_section_wrapper {
    background-color: rgb(103,125, 171);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    width: 100%;
    min-height: 100vh;

}
.main_section {
    flex: 1;
    background-color: rgb(255,245,235);
    width: 70%;
    padding-top: 3.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.footer {
    background-color: rgb(255,245,235);
    width: 70%;
    margin-top: 30px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem !important;
    color: rgb(103, 125, 171)
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem !important;
    color: rgb(103, 125, 171)
}
h3{
    font-size: 1.2rem !important;
}

hr {
    border: 1.5px solid rgb(103, 125, 171) !important;
    width: 100%;
    opacity: 1 !important;
}


@media (max-width: 1200px) {
    .main_section {
        width: 80%;
    }
    .footer{
        width: 80%;
    }
}

@media (max-width: 940px) {
    .main_section {
        width: 90%;
    }
    .footer{
        width: 90%;
    }
}