<h1>Shrnutí platby za MLŠSH {{data["rok"]}}</h1>

<p>
    Dobrý den, <br>
    <br>
    děkujeme za Váš zájem o účast na MLŠSH {{data["rok"]}}. <br>
    <br>
    Níže naleznete detaily o platbě účastnického poplatku, rozepsání ceny na položky si vždy můžete prohlédnout <a href="{{url}}">na svém profilu</a>. V případě, že vám jakkoliv přispívá zaměstnavatel, nic neplaťte a kontaktujte organizátory na adrese <a href="mailto:registrace@early-music.cz">registrace@early-music.cz</a><br>
</p>
<p>
    <strong>Celková částka k úhradě: {{data["celkova_castka"]}}</strong><br>
    <strong>Číslo účtu: {{data["bank_account"]}}</strong><br>
    <strong>IBAN: {{data["iban"]}}</strong><br>
    <strong>SWIFT: {{data["swift"]}}</strong><br>
    <strong>BIC: {{data["bic"]}}</strong><br>
    <strong>Adresa: {{data["address"]}}</strong><br>
    <strong>Do zprávy pro příjemce uveďte jméno a příjmení: {{data["zprava_pro_prijemce"]}}</strong><br>
    Platby procházíme ručně, variabilní symbol proto není třeba. Děkujeme za trpělivost. Jakmile Vaší platbu obdržíme, dáme Vám vědět e-mailem.<br>
</p>
<p>
    Pokud máte jakékoliv dotazy, neváhejte se na nás obrátit.<br>
    <br>
    S pozdravem,<br>
    <strong>tým MLŠSH</strong><br>
</p>