<h1>Summary of your ISSEM {{data["rok"]}} payment</h1>

<p>
    Dear participant, <br>
    <br>
    thank you for your interest in participating in ISSEM {{data["rok"]}}. <br>
    <br>
    Below you can find the details of the payment for the participation fee. You can always view the breakdown of the price into items <a href="{{url}}">on your profile</a>. If your employer contributes in any way, do not make any payment and contact the organizers at <a href="mailto:registrace@early-music.cz">registrace@early-music.cz</a>.

</p>
<p>
    <strong>Total amount to be paid: {{data["celkova_castka"]}}</strong><br>
    <strong>Account number: {{data["bank_account"]}}</strong><br>
    <strong>IBAN: {{data["iban"]}}</strong><br>
    <strong>BIC: {{data["bic"]}}</strong><br>
    <strong>Address: {{data["address"]}}</strong><br>
    <strong>Please include your name in the message for the recipient: {{data["zprava_pro_prijemce"]}}</strong><br>
    We manually process payments, so there is no need for a variable symbol. Thank you for your patience. As soon as we receive your payment, we will let you know by email.<br>
</p>
<p>
    If you have any questions, please do not hesitate to contact us.<br>
    <br>
    Best regards,<br>
    <strong>ISSEM team</strong><br>
</p>