{% extends"cz_context.html" %}
{% block content %}
<h1>Úprava osobních údajů</h1>
<hr>
<form method="post">
    <button type="submit" class="custom_button" name="save" value="whatever">Uložit změny</button>
    <hr>
    <div class="container my-2">
        <h2>Osobní informace</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Jméno</div>
            <div class="col">
                <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Příjmení</div>
            <div class="col">
                <input type="text" class="form-control" id="surname" name="surname">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Email</div>
            <div class="col">
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="custom-tooltip custom-tooltip-left">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Po změně e-mailu Vám zašleme ověřovací zprávu.</span>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Telefon</div>
            <div class="col">
                <input type="text" class="form-control" id="phone" name="phone">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Student VŠ</div>
            <div class="col">
                <select class="form-select" id="is_student" name="is_student">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Věková kategorie</div>
            <div class="col" id="zmena_kategorie_povolena" hidden>
                <div class="col">
                    <select class="form-select" id="age_category" name="age_category">
                        <option value="child">Do 15 let včetně</option>
                        <option value="adult">16 a více let</option>
                    </select>
                </div>
            </div>
            <div class="col" id="zmena_kategorie_zakazana" hidden>
                <div class="col">
                    Máte nyní přihášené třídy, které odpovídají Vaší věkové kategorii. Pokud chcete změnit věkovou kategorii, musíte se z těchto tříd nejdříve odhlásit.
                </div>
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="custom-tooltip custom-tooltip-left">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Ovlivňuje také cenovou kalkulaci.</span>
                </div>
            </div>
        </div>
        <hr>
        <h2>Valtické informace</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Člen SSH</div>
            <div class="col">
                <select class="form-select" id="is_ssh_member" name="is_ssh_member">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="custom-tooltip custom-tooltip-left">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Společnost pro starou hudbu je nezisková organizace, která MLŠSH organizuje. Více informací o SSH a o členství najdete na <a class="link" target="_blank" href="http://ssh.early-music.cz">webových stránkách</a>. </span>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Účast</div>
            <div class="col" id="zmena_ucasti_povolena" hidden>
                <select class="form-select" id="is_active_participant" name="is_active_participant">
                    <option value="active">aktivní</option>
                    <option value="passive">pasivní</option>
                </select>
            </div>
            <div class="col" id="zmena_ucasti_zakazana" hidden>
                Jste aktivním účastníkem. Změnu na pasivní účast můžete provést poté, co se odhlásíte ze všech Vašich tříd.
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="custom-tooltip custom-tooltip-left">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Pasivní účast TODO popis k čemu je.</span>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Student ZUŠ Valtice/Mikulov</div>
            <div class="col">
                <select class="form-select" id="is_student_of_partner_zus" name="is_student_of_partner_zus">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Hudební vzdělání</div>
            <div class="col">
                <input type="text" class="form-control" id="musical_education" name="musical_education">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Nástroj</div>
            <div class="col">
                <input type="text" class="form-control" id="musical_instrument" name="musical_instrument">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Repertoár</div>
            <div class="col">
                <input type="text" class="form-control" id="repertoire" name="repertoire">
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="custom-tooltip custom-tooltip-left">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Repertoár můžete zpětně doplnit, až jej budete znát.</span>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Uživatelská poznámka</div>
            <div class="col">
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="custom-tooltip custom-tooltip-left">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Do užvatelské poznámky můžete psát například jména preferovaných spolubydlících na internátu VŠ, nebo libovolnou jinou zprávu.</span>
                </div>
            </div>
        </div>
        <hr>
        <h2>Ubytování</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Ubytování, počet lidí</div>
            <div class="col-4">
                <select class="form-select" id="accomodation_type" name="accomodation_type">
                    <option selected value="-">Zatím nevybráno</option>
                    <option value="own">Zařizuji samostatně</option>
                    <option value="gym">Tělocvična</option>
                    <option value="vs">Internát vinařské školy</option>
                </select>
            </div>
            <div class="col">
                <input type="number" step="1" class="form-control" id="accomodation_count" name="accomodation_count">
            </div>
        </div>
        <hr>
        <h2>Strava</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Máte zájem o stravu?</div>
            <div class="col">
                <select class="form-select" id="wants_meal" name="wants_meal">
                    <option value="ano">Ano</option>
                    <option value="ne">Ne</option>
                </select>
            </div>
        </div>
        <div id="strava_yes" hidden>
            <div class="attention-message">
                <p>
                    Číslo vpravo od každého jídla značí počet týdenních sad, o které máte zájem. Pokud tedy chcete například obědvat na Vinařské po dobu celé letní školy, zvolte počet sad 1. Volba čísla 7 například znamená, že máte zájem o 7 týdenních sad, tj. 42 obědů. 
                </p>
            </div>
            <div id="meals"></div>
            <button class="custom_button" type="button" id="add_meal">Přidat jídlo</button>
       </div>
        <hr>
        <h2>Finance</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Měna</div>
            <div class="col">
                <select class="form-select" id="billing_currency" name="billing_currency">
                    <option value="czk">CZK</option>
                    <option value="eur">EUR</option>
                </select>
            </div>
        </div>
        <div class="attention-message">
            <p>
                Největšími spojenci valtické letní školy jste pro nás Vy – účastníci kurzů. Nabízíme Vám proto možnost přispět na vznik MLŠSH, a to přímo v rámci přihlášky. Vámi zvolenou částku připočteme (ve Vámi zvolené měně výše) do kalkulace ceny kurzu. Nemáte-li možnost nás podpořit finančně, držte nám alespoň palce. I to se počítá! 😊
            </p>
            <p>
                Váš tým MLŠSH 2024
            </p>
        </div>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Finanční dar</div>
            <div class="col">
                <input type="number" class="form-control" id="billing_gift" name="billing_gift">
            </div>
        </div>


        <hr>
        {% if "tutor" in roles %}
            <h2>Lektorské informace</h2>
            <div class="row my-1" id="tutor_yes">
                <div class="col-2 d-flex align-items-center">Způsob dopravy</div>
                <div class="col">
                    <select class="form-select" id="tutor_travel" name="tutor_travel">
                        <option value="own">vlastní</option>
                        <option value="public">veřejná</option>
                    </select>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Registrační značka vozidla</div>
                <div class="col">
                    <input type="text" class="form-control" id="tutor_license_plate" name="tutor_license_plate">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Příjezd</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_arrival" name="tutor_arrival">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Odjezd</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_departure" name="tutor_departure">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Jména doprovodu</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_accompanying_names" name="tutor_accompanying_names">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Adresa</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_address" name="tutor_address">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Datum narození</div>
                <div class="col">
                <input type="date" class="form-control" id="tutor_date_of_birth" name="tutor_date_of_birth">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-2 d-flex align-items-center">Číslo bankovního účtu</div>
                <div class="col">
                <input type="text" class="form-control" id="tutor_bank_account" name="tutor_bank_account">
                </div>
            </div>
            <hr>
        {% endif %}
        <h2>Přístup k účtu</h2>
        <div class="row my-1">
            <div class="col-2 d-flex align-items-center">Nové heslo</div>
            <div class="col">
                <input type="text" class="form-control" id="new_password" name="new_password">
            </div>
        </div>
        <div class="row my-1" id="no_parent" hidden>
            <div class="col-2 d-flex align-items-center">Přidat nadřazený účet</div>
            <div class="col">
                <input type="text" class="form-control" name="parent_email" placeholder="e-mail rodiče">
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="custom-tooltip custom-tooltip-left">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Pokud například v jedné rodině spravuje Valtice jedna osoba, může si takto účty pospojovat. Nadřazený účet může spravovat své prpojené účty.</span>
                </div>
            </div>
        </div>
        <div class="row my-1" id="yes_parent" hidden>
            <div class="col">
                Tento účet spravuje <span id="manager_name"></span>. Pokud si přejete tyto účty rozpojit, musí to provést nadřazený účet.
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2">Spravované účty</div>
            <div class="col" id="children">
            </div>
        </div>
    </div>

</form>
<form method="post" hidden id="unlink_form">
    <input type="text" id="unlink_child_id" name="unlink_child_id">
</form>
<script type="module" src="{{url_for('static', filename='js/user/cz_edit_account.js')}}"></script>

{% endblock %}
