{% extends"cz_context.html" %}
{% block content %}
<input hidden id="child_id" value="{{id}}">
<h1>{{name_cz}}</h1>
<h2>Úprava dat - <span id="full_name"></span></h2>
<hr>
<form method="post">
    <button type="submit" class="custom_button" name="save" value="whatever">Uložit změny dítěte</button>
    <hr>
    <div class="container my-2">
        <h2>Osobní informace</h2>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Jméno</div>
            <div class="col">
                <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Příjmení</div>
            <div class="col">
                <input type="text" class="form-control" id="surname" name="surname">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Email
            </div>
            <div class="col">
                <input type="text" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Telefon</div>
            <div class="col">
                <input type="text" class="form-control" id="phone" name="phone">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Datum narození
                <div class="custom-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Slouží zatím jako informace pro lektory. Přístup do tříd a finance jsou rozhodovány podle věkové kategorie níže.</span>
                </div>
            </div>
            <div class="col">
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Student</div>
            <div class="col">
                <select class="form-select" id="is_student" name="is_student">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Věková kategorie
                <div class="custom-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Ovlivňuje také cenovou kalkulaci.</span>
                </div>
            </div>
            <div class="col" id="zmena_kategorie_povolena" hidden>
                <div class="col">
                    <select class="form-select" id="age_category" name="age_category">
                        <option value="child">Do 15 let včetně</option>
                        <option value="adult">16 a více let</option>
                    </select>
                </div>
            </div>
            <div class="col" id="zmena_kategorie_zakazana" hidden>
                <div class="col">
                    Máte nyní přihášené třídy, které odpovídají Vaší věkové kategorii. Pokud chcete změnit věkovou kategorii, musíte se z těchto tříd nejdříve odhlásit.
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Číslo OP / pasu</div>
            <div class="col">
                <input type="text" class="form-control" id="passport_number" name="passport_number">
            </div>
        </div>
        <hr>
        <h2>Valtické informace</h2>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Člen SSH
                <div class="custom-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Společnost pro starou hudbu je nezisková organizace, která MLŠSH organizuje. Více informací o SSH a o členství najdete na <a class="link" target="_blank" href="http://ssh.early-music.cz">webových stránkách</a>. </span>
                </div>
            </div>
            <div class="col">
                <select class="form-select" id="is_ssh_member" name="is_ssh_member">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Účast
                <div class="custom-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Aktivní účast je zamýšlena pro běžné účastníky tříd. Pasivní účast slouží dvěma účelům: 1) Doprovodná osoba dětských účastníků musí být účastníkem. 2) Přátelé MLŠSH mohou navštěvovat hodiny a tím školu podpořit.</span>
                </div>
            </div>
            <div class="col" id="zmena_ucasti_povolena" hidden>
                <select class="form-select" id="is_active_participant" name="is_active_participant">
                    <option value="active">aktivní</option>
                    <option value="passive">pasivní</option>
                </select>
            </div>
            <div class="col" id="zmena_ucasti_zakazana" hidden>
                Jste aktivním účastníkem. Změnu na pasivní účast můžete provést poté, co se odhlásíte ze všech Vašich tříd.
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Student ZUŠ Valtice/Mikulov</div>
            <div class="col">
                <select class="form-select" id="is_student_of_partner_zus" name="is_student_of_partner_zus">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Hudební vzdělání</div>
            <div class="col">
                <input type="text" class="form-control" id="musical_education" name="musical_education">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Nástroj</div>
            <div class="col">
                <input type="text" class="form-control" id="musical_instrument" name="musical_instrument">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Repertoár
                <div class="custom-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Repertoár můžete zpětně doplnit, až jej budete znát.</span>
                </div>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="repertoire" name="repertoire">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Uživatelská poznámka
                <div class="custom-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="custom-tooltiptext">Do užvatelské poznámky můžete psát například jména preferovaných spolubydlících na internátu VŠ, nebo libovolnou jinou zprávu.</span>
                </div>
            </div>
            <div class="col">
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
        </div>
        <hr>
        <h2>Ubytování</h2>
        <div class="row my-1" id="zmena_ubytka_povolena" hidden>
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Ubytování, počet lidí</div>
            <div class="col">
                <select class="form-select" id="accomodation_type" name="accomodation_type">
                    <option selected value="-">Zatím nevybráno</option>
                    <option value="own">Zařizuji samostatně</option>
                    <option value="gym">Tělocvična</option>
                    <option value="vs">Internát vinařské školy</option>
                </select>
            </div>
            <div class="col">
                <input type="number" step="1" class="form-control" id="accomodation_count" name="accomodation_count">
            </div>
        </div>
        <div class="row my-1" id="zmena_ubytka_zakazana" hidden>
            <div class="col">
                Protože máte už přihlášené třídy, nemůžete měnit ubytování. Pokud chcete změnit ubytování, kontaktujte organizátory.
            </div> 
        </div>
        <hr>
        <h2>Strava</h2>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Máte zájem o stravu?</div>
            <div class="col">
                <select class="form-select" id="wants_meal" name="wants_meal">
                    <option value="ano">Ano</option>
                    <option value="ne">Ne</option>
                </select>
            </div>
        </div>
        <div id="strava_yes" hidden>
            <div class="attention-message">
                <p>
                    Číslo vpravo od každého jídla značí počet týdenních sad, o které máte zájem. Pokud tedy chcete například obědvat na Vinařské po dobu celé letní školy, zvolte počet sad 1. Volba čísla 7 například znamená, že máte zájem o 7 týdenních sad, tj. 42 obědů. 
                </p>
            </div>
            <div id="meals"></div>
            <button class="custom_button" type="button" id="add_meal">Přidat jídlo</button>
       </div>
        <hr>
        <h2>Finance</h2>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Měna</div>
            <div class="col">
                <select class="form-select" id="billing_currency" name="billing_currency">
                    <option value="czk">CZK</option>
                    <option value="eur">EUR</option>
                </select>
            </div>
        </div>
        <div class="attention-message">
            <p>
                Největšími spojenci valtické letní školy jste pro nás Vy – účastníci kurzů. Nabízíme Vám proto možnost přispět na vznik MLŠSH, a to přímo v rámci přihlášky. Vámi zvolenou částku připočteme (ve Vámi zvolené měně výše) do kalkulace ceny kurzu. Nemáte-li možnost nás podpořit finančně, držte nám alespoň palce. I to se počítá! 😊
            </p>
            <p>
                Váš tým MLŠSH 2024
            </p>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Finanční dar</div>
            <div class="col">
                <input type="number" class="form-control" id="billing_gift" name="billing_gift">
            </div>
        </div>


        <hr>

        <h2>Přístup k účtu</h2>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Jste letošním účastníkem?</div>
            <div class="col" id="zmena_letosni_ucasti_povolena" hidden>
                <select class="form-select" id="is_this_year_participant" name="is_this_year_participant">
                    <option value="Ano">Ano</option>
                    <option value="Ne">Ne</option>
                </select>
            </div>
            <div class="col" id="zmena_letosni_ucasti_zakazana" hidden>
                Již máte přihlášené některé třídy. Pokud se letos nechcete účastnit, musíte se nejdříve odhlásit ze všech tříd.
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Nové heslo</div>
            <div class="col">
                <input type="text" class="form-control" id="new_password" name="new_password">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Nový správce účtu</div>
            <div class="col">
                <input type="text" class="form-control" id="new_manager_email" name="new_manager_email">
            </div>
        </div>
    </div>
</form>

<form method="post">
    <button type="submit" class="custom_button" name="unlink" value="whatever">Osamostatnit účet dítěte</button>
    <input hidden type="text" id="unlink_child_id" name="unlink_child_id" value="{{id}}">
</form>
<script type="module" src="{{url_for('static', filename='js/user/cz_edit_child_account.js')}}"></script>

{% endblock %}
