{% extends"cz_context.html" %}
{% block content %}

<h1>Přidání nového účtu pod {{name_cz}}</h1>

<form method="post">
    <div class="container my-2">
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Jméno</div>
            <div class="col">
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Příjmení</div>
            <div class="col">
                <input type="text" class="form-control" id="surname" name="surname" required>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-sm-3 d-flex align-items-center justify-content-between">Datum narození</div>
            <div class="col">
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
            </div>
        </div>
        <div class="row">
            <small>Zde se rozhodněte, zda má tento účet mít možnost se samostatně přihlásit, nebo zda jej budete spravovat pouze přes Váš účet.</small>
            <div class="col-sm-auto d-flex align-items-center justify-content-between">
                Má mít dítě vlastní e-mail a heslo?
            </div>
            <div class="col">
                <select class="form-select" id="child_select" name="child_select">
                    <option value="" selected disabled>vyberte</option>
                    <option value="ano">Ano, chci, aby mělo vlastní e-mail a heslo.</option>
                    <option value="ne">Ne, chci, aby byl účet spravovaný pouze mnou.</option>
                </select>
            </div>
        </div>
        <div id="registrace_details" hidden>
            <hr>
            <div class="row my-1">
                <div class="col-sm-3">
                    E-mail dětského účastníka:
                </div>
                <div class="col">
                    <input type="email" name="email" maxlength="100" class="form-control"/>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-sm-3">
                    Heslo dětského účastníka:
                </div>
                <div class="col">
                    <input type="password" name="password" minlength="6" maxlength="300" class="form-control"/>	
                </div>
            </div>
            <div class="row my-1">
                <div class="col-sm-3">
                    Potvrzení hesla
                </div>
                <div class="col">
                    <input type="password" name="confirm" minlength="6" maxlength="300" class="form-control"/>	
                </div>
            </div>
        </div>
        <div class="row" hidden id="vytvorit_ucet_div">
            <div class="col d-flex justify-content-center">
                <button type="submit" class="custom_button my-1">Přidat dítě</button>
            </div>
        </div>
    </div>
</form>

<div id="heslo_info" hidden>
    <hr>
    <p>
        Heslo jde vždy obnovit, pokud ho zapomenete.
    </p>
    <p>
        Jak vypadá dobré heslo?
        <ul>
            <li>Mělo by být delší než 8 znaků.</li>
            <li>Mělo by obsahovat nějaký speciální znak jiný, než písmena nebo čísla.</li>
            <li>Mělo by být unikátní.</li>
            <li>Pokud používáte správce hesel, není nutné, aby bylo lidsky zapamatovatelné.</li>
        </ul>
    </p>
    <div class="d-flex justify-content-center">
        <img class="xkcd" src="https://imgs.xkcd.com/comics/password_strength.png" alt="xkcd password strength">
    </div>
</div>

<script type="module" src="{{url_for('static', filename='js/user/cz_new_child.js')}}"></script>
{% endblock %}