{% extends "index.html" %}
{% block content %}
<h2>Nastavení účtu</h2>
<div class="row">
    <div class="col-sm-5">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tbody>
                    <tr>
                        <th>E-mail</th>
                        <td id="email"></td>
                    </tr>
                    <tr>
                        <th>Ověřený e-mail</th>
                        <td id="confirmed"></td>
                    </tr>
                    <tr>
                        <th>Registrace</th>
                        <td id="registration_datetime"></td>
                    </tr>
                    <tr>
                        <th>Balíčků</th>
                        <td id="number_of_decks"></td>
                    </tr>
                    <tr>
                        <th>Zkoušení</th>
                        <td id="number_of_exams"></td>
                    </tr>
                    {% if "acga_ucitel" in roles%}
                        <tr>
                            <th>ACGA Jméno učitele</th>
                            <td id="acga_jmeno"></td>
                        </tr>
                    {% endif %} 
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if "acga_ucitel" in roles %}
{% endif %}
{% if not confirmed %}
    <form method="post">
        <button type="submit" class="btn custom-button" name="confirmation_email" value="whatever">Odeslat ověřovací e-mail</button>
    </form>
{% endif %}

<script type="module" src="{{url_for('static', filename='js/user/ucet.js')}}"></script>

{% endblock %}