{% extends "admin/admin_navbar.html" %}

{% block content %}
<h2>Přidat nový jazyk</h2>
<form method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>System name:</th>
                    <td><input type="text" class="form-control" name="system_name" placeholder="jazyk anglicky"></td>
                </tr>
                <tr>
                    <th>Display name:</th>
                    <td><input type="text" class="form-control" name="display_name" placeholder="English, Čeština, Deutsch..."></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn custom-button" type="submit" name="novy_jazyk" value="whatever">Přidat</button>
</form>
<hr>
<h2>Upravit jazyky</h2>
<form method="post">
    <div id="parent_div"></div>
</form>



<script type="module" src="{{url_for('static', filename='js/admin/jazyky.js')}}"></script>

{% endblock %}