{% extends "index.html" %}{% block content %}

<h2>Vybrat role pro usera {{user.email}}</h2>
<form method="post">
    <button name="detail" value="{{user.id}}" class="btn btn-primary">Detaily o účtu tohoto admina</button>
    <button class="btn btn-success" id="btn" type="button">Budiž</button>
</form>
<div id="check"></div>
<hr>


<input hidden id="id" value="{{user.id}}"/>

<form id="form" method="post">
    <input id="result" hidden name="result"/>
</form>
<script type="module" src="{{url_for('static', filename='js/admin/admin_vybrat_role_adminovi.js')}}"></script>
{% endblock %}