{% extends "admin/admin_navbar.html" %}

{% block content %}
<input hidden value="{{id}}" id="id">
<h2>Upravit jazyk</h2>
<form method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>System name:</th>
                    <td><input type="text" class="form-control" name="system_name" id="system_name" placeholder="jazyk anglicky"></td>
                </tr>
                <tr>
                    <th>Display name:</th>
                    <td><input type="text" class="form-control" name="display_name" id="display_name" placeholder="English, Čeština, Deutsch..."></td>
                </tr>
                <tr>
                    <th>Počet překladů:</th>
                    <td id="number_of_translations"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn custom-button my-2" type="submit" name="ulozit" value="whatever">Uložit</button>
    <br>
    <button class="btn btn-danger" type="submit" name="smazat" value="whatever">Smazat</button>
</form>

<script type="module" src="{{url_for('static', filename='js/admin/detail_jazyka.js')}}"></script>

{% endblock %}