{% extends"index.html" %}

{% block title %}
    MLŠSH - přihláškový systém
{% endblock %}


{% block logo %}
    <div class="logo">
        <a href="{{cz_url}}">
            <img src="{{url_for('static', filename='img/logo_cz.png')}}" alt="Valtické logo">
        </a>
    </div>
{% endblock %}


{% block flag %}
    <a href="{{url_for('guest_views.en_dashboard')}}" class="flag">
        <img src="{{url_for('static', filename='img/ikonky/united-kingdom.png')}}" alt="EN">
    </a>
{% endblock %}


{% block name_link %}
    {% if "prihlasen" in roles %}
        <a href="{{url_for('user_views.account')}}" class="navbar_link">{{name_cz}}</a>
    {% endif %}
{% endblock %}

{% block name_link_2 %}
    {% if session.parent_id %}
        <a href="{{url_for('user_views.return_to_parent')}}" class="navbar_link">Zpět jako rodič</a>
    {% endif %}
    {% if "prihlasen" in roles %}
        <a href="{{url_for('user_views.account')}}" class="navbar_link">{{name_cz}}</a>
    {% endif %}
{% endblock %}


{% block right_nav %}
    {% if "tutor" in roles%} 
        <a class="navbar_link" href="{{url_for('org_views.tutor')}}">{{cz_lektor_tridy_title}}</a>
    {% endif %}
    {% if "tutor" in roles and "prihlasen" in roles and roles|length == 2 %}
    {% elif "prihlasen" in roles and aktivni_ucast %}
        <a href="{{url_for('user_views.zapis_hlavni_tridy')}}" class="navbar_link">Hlavní třída</a>
        {% if not is_under_16 %}
            <a href="{{url_for('user_views.zapis_vedlejsi_tridy')}}" class="navbar_link">Vedlejší třída</a>
        {% endif %}
    {% endif %}
    {% if "prihlasen" in roles %}
        <a href="{{url_for('user_views.account')}}" class="navbar_link">Účet</a>
        <a href="{{url_for('auth_views.logout')}}" class="navbar_link">Odhlásit se</a>
    {% else %}
        <a class="navbar_link" href="{{url_for('auth_views.login')}}">Přihlášení</a>
        <a class="navbar_link" href="{{url_for('auth_views.register_intro')}}">Registrace</a>
    {% endif %}
{% endblock %}


{% block footer %}
    Našli jste chybu? <a class="link" target="_blank" href="https://t.me/piipecek">Kontakt na autora</a><br>
    <a class="link" href="{{url_for('guest_views.cz_info')}}">Informace, GDPR a cookies</a><br>
    <a class="link" href="{{url_for('guest_views.cz_dashboard')}}">Zpět na úvodní stránku přihláškového systému</a><br>
    <a class="link" href="https://www.early-music.cz">Zpět na stránky MLŠSH</a>
{% endblock %}