{% extends"index.html" %}

{% block title %}
    ISSEM - application system
{% endblock %}


{% block logo %}
    <div class="logo">
        <a href="{{en_url}}">
            <img src="{{url_for('static', filename='img/logo_en.png')}}" alt="Valtické logo">
        </a>
    </div>
{% endblock %}


{% block flag %}
    <a href="{{url_for('guest_views.cz_dashboard')}}" class="flag">
        <img src="{{url_for('static', filename='img/ikonky/czech-republic.png')}}" alt="CZ">
    </a>
{% endblock %}


{% block name_link %}
    {% if "prihlasen" in roles %}
        <a href="{{url_for('user_views.en_account')}}" class="navbar_link">{{name}}</a>
    {% endif %}
{% endblock %}

{% block name_link_2 %}
    {% if "prihlasen" in roles %}
        <a href="{{url_for('user_views.en_account')}}" class="navbar_link">{{name}}</a>
    {% endif %}
{% endblock %}


{% block right_nav %}
    {% if "tutor" in roles%} 
        <a class="navbar_link" href="{{url_for('org_views.en_tutor')}}">{{en_lektor_tridy_title}}</a>
    {% endif %}
    {% if "tutor" in roles and "prihlasen" in roles and roles|length == 2 %}
    {% elif "prihlasen" in roles %}
        <a href="{{url_for('user_views.en_zapis_hlavni_tridy')}}" class="navbar_link">Main class</a>
        {% if not is_under_16 %}
            <a href="{{url_for('user_views.en_zapis_vedlejsi_tridy')}}" class="navbar_link">Secondary class</a>
        {% endif %}
    {% endif %}
    {% if "prihlasen" in roles %}
        <a href="{{url_for('user_views.en_account')}}" class="navbar_link">Account</a>
        <a href="{{url_for('auth_views.en_logout')}}" class="navbar_link">Log out</a>
    {% else %}
        <a class="navbar_link" href="{{url_for('auth_views.en_login')}}">Log in</a><br>
        <a class="navbar_link" href="{{url_for('auth_views.en_register')}}">Register</a>
    {% endif %}
{% endblock %}


{% block footer %}
    Found a bug? <a class="link" target="_blank" href="https://t.me/piipecek">Contact the author</a><br>
    <a class="link" href="{{url_for('guest_views.en_info')}}">General information, cookies and data protection</a><br>
    <a class="link" href="{{url_for('guest_views.en_dashboard')}}">Back to application portal homepage</a><br>
    <a class="link" href="https://www.early-music.cz">Back to ISSEM website</a>
{% endblock %}