<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/navbar_style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/custom_tooltip.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicooon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="module" src="{{url_for('static', filename='js/http_get.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='js/table_creator.js')}}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/5f0b4ae767.js" ></script>

    <title id="title">{% block title %}Valtické přihlášky{% endblock %}</title>
</head>


<body>
    <header class="valtce_header">
        {% block logo %}
        {% endblock %}
        <div class="hlavicka_tmava">
            <div class="flag_wrapper">
                {% block flag %}
                {% endblock %}
            </div>
        </div>
        <div class="hlavicka_svetla">
            <input type="checkbox" id="user-nav-toggle" class="nav_toggle">
            <label for="user-nav-toggle" class="overlay"></label>
            <div class="nav_toggle_menu_wrapper">
                <label for="user-nav-toggle" class="nav_toggle_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                </label>
                {% if "organiser" in roles %} 
                    <label for="admin-nav-toggle" class="nav_toggle_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg>
                    </label>
                {% endif %}
            </div>
            <div class="navbar_wrapper navbar_wrapper_user">
                <label for="user-nav-toggle" class="nav_toggle_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                </label>
                <div class="link_wrapper">
                    {% block left_nav %}
                    {% endblock %}
                </div>
                <div class="link_wrapper">
                    {% block right_nav %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- tohle neni v contextu protoze org sekce je jen cesky -->
        {% if "organiser" in roles %} 
            <div class="hlavicka_org">
                <input type="checkbox" id="admin-nav-toggle" class="nav_toggle">
                <label for="admin-nav-toggle" class="overlay"></label>
                <div class="navbar_wrapper navbar_wrapper_admin">
                    <label for="admin-nav-toggle" class="nav_toggle_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    </label>
                    <div class="link_wrapper">
                        <a href="{{url_for('org_views.seznam_ucastniku')}}" class="navbar_link navbar_link_small">Účastníci</a>
                        <a href="{{url_for('org_views.seznam_trid')}}" class="navbar_link navbar_link_small">Třídy</a>
                        <a href="{{url_for('org_views.seznam_lektoru')}}" class="navbar_link navbar_link_small">Lektoři</a>
                        {% if "admin" in roles %}
                            <a href="{{url_for('org_views.organizatori')}}" class="navbar_link navbar_link_small">Pořadatelé a role</a>
                        {% endif %}
                    </div>
                    <div class="link_wrapper">
                        <a href="{{url_for('org_views.seznamy')}}" class="navbar_link navbar_link_small">Výpisy</a>
                        {% if "editor" in roles %}
                            <a href="{{url_for('org_views.ceny')}}" class="navbar_link navbar_link_small">Sazby</a>
                            <a href="{{url_for('org_views.seznam_jidel')}}" class="navbar_link navbar_link_small">Jídla</a>
                        {% endif %}
                        <a href="{{url_for('org_views.settings')}}" class="navbar_link navbar_link_small">Nastavení</a>
                        <a class="navbar_link navbar_link_small" href="{{url_for('org_views.docs')}}">Dokumentace</a>

                    </div>
                </div>
            </div>
        {% endif %}
    </header>

    <section class="main_section_wrapper">
        <!-- zajišťuje když je org navbar, aby stránka sjela ještě trochu níž -->
        {% if "organiser" in roles %} 
            <div class="organiser_spacer"></div>
        {% endif %}
        <!-- musi bejt v main, jinak to skace za header -->
        {% for category, message in get_flashed_messages(with_categories=True) %} 
            <div class="alert alertcolor-{{category}} d-flex justify-content-center">
                <div class="message_wrapper">
                    {{message}}
                </div>
            </div>
        {% endfor %}
        
        <section class="main_section">

            {% block content %}
            {% endblock %}

            <hr>

            {% block footer %}
            {% endblock %}
        </section>
    </section>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>